﻿<div class="row">
  <div class="col-xl-12">
    <h2 class="text-muted">Reporting Extracts</h2>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col col-sm-6">
    <div class="card mt-3">
      <div class="card-header">Was Now Reporting</div>
      <div class="card-block">
        <div class="row">
          <div class="col-xl-2">Period</div>
          <div class="col-xl-4">
            <fieldset class="form-group">
              <div class="radio"><label><input type="radio" name="optionsRadios" id="optionsRadios1" value="AM" (click)="setPeriod('AM')" checked=""> AM</label></div>
              <div class="radio"><label><input type="radio" name="optionsRadios" id="optionsRadios2" (click)="setPeriod('PM')" value="PM"> PM</label></div>
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-2">Product Category</div>
          <div class="col-xl-4">
            <select [(ngModel)]="selectedProductCategoryId1" class="form-control">
              <option value="0" selected>All</option>
              <option value="1">Postpaid</option>
              <option value="2">Prepaid</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-2">
            <button class="btn btn-default" (click)="downloadWasNow()">Download</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-sm-6">
    <div class="card mt-3">
      <div class="card-header">Offer Expiry Reporting</div>
      <div class="card-block">
        <div class="row">
          <div class="col-xl-2">From Date</div>
          <div class="col-xl-4"><my-date-picker name="fromDate" [options]="myDatePickerOptions" [(ngModel)]="fromDate"></my-date-picker></div>
        </div>
        <div class="row">
          <div class="col-xl-2">To Date</div>
          <div class="col-xl-2"><my-date-picker name="toDate" [options]="myDatePickerOptions" [(ngModel)]="toDate"></my-date-picker></div>
        </div>
        <div class="row">
          <div class="col-xl-2">Product Category<br />&nbsp;</div>
          <div class="col-xl-4">
            <select [(ngModel)]="selectedProductCategoryId2" class="form-control">
              <option value="0" selected>All</option>
              <option value="1">Postpaid</option>
              <option value="2">Prepaid</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-2">
            <button class="btn btn-default" (click)="downloadOfferExpiry()">Download</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col col-sm-12">
    <div class="card mt-6">
      <div class="card-header">Data Extract</div>
      <div class="card-block">
        <div class="row">
          <div class="col-xl-1">Product Category</div>
          <div class="col-xl-2">
            <select [(ngModel)]="selectedProductCategoryId3" class="form-control">
              <option value="0" selected>All</option>
              <option value="1">Postpaid</option>
              <option value="2">Prepaid</option>
            </select>
          </div>
          <div class="col-xl-1">Segment</div>
          <div class="col-xl-2">
            <select [(ngModel)]="selectedSegment" class="form-control">
              <option value="All">All</option>
              <option value="Consumer">Consumer</option>
              <option option value="Business">Business</option>
            </select>
          </div>
          <div class="col-xl-1">Brand</div>
          <div class="col-xl-2">
            <select [(ngModel)]="selectedBrand" class="form-control">
              <option value="All">All</option>
              <option *ngFor="let b of brands | matchesProductCategoryId: this.selectedProductCategoryId3 | uniqueList: 'brandName'" [value]="b.brandName">{{b.brandName}}</option>
            </select>
          </div>
          <div class="col-xl-1">Plan Type</div>
          <div class="col-xl-2">
            <select [(ngModel)]="selectedPlanType" class="form-control">
              <option value="All">All</option>
              <option value="Standard">Standard</option>
              <option value="Promotion">Promotion</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-1">Product Type</div>
          <div class="col-xl-2">
            <select [(ngModel)]="selectedProductType" class="form-control">
              <option value="0" selected>All</option>
              <optgroup label="Phone">
                <option *ngFor="let pt of productTypes | matchesProductTypeCategoryId : '1' | matchesProductCategoryId: this.selectedProductCategoryId3 | uniqueList: 'productTypeName'" [value]="pt.productTypeName">{{pt.productTypeName}}</option>
              </optgroup>
              <optgroup label="MBB">
                <option *ngFor="let pt of productTypes | matchesProductTypeCategoryId : '2' | matchesProductCategoryId: this.selectedProductCategoryId3 | uniqueList: 'productTypeName'" [value]="pt.productTypeName">{{pt.productTypeName}}</option>
              </optgroup>
            </select>
          </div>
          <div class="col-xl-1">Unit</div>
          <div class="col-xl-2">
            <select [(ngModel)]="selectedUnit" class="form-control">
              <option value="All" selected>All</option>
              <option value="Day" selected>Day</option>
              <option value="Month">Month</option>
            </select>
          </div>
          <div class="col-xl-1">Term</div>
          <div class="col-xl-2">
            <select [(ngModel)]="selectedTerm" class="form-control">
              <option value="All">All</option>
              <option *ngFor="let t of terms | matchesUnit: this.selectedUnit | matchesProductCategoryId: this.selectedProductCategoryId3 " [value]="t.termValue">{{t.termValue}} - {{t.unit}}</option>
            </select>
          </div>
          <div class="col-xl-1">Standard Fee</div>
          <div class="col-xl-2">
            <select [(ngModel)]="selectedFee" class="form-control">
              <option value="0-9999">All</option>
              <option value="0-9.99">$0.00-$9.99</option>
              <option value="10-19.99">$10.00-$19.99</option>
              <option value="20-29.99">$20.00-$29.99</option>
              <option value="30-39.99">$30.00-$39.99</option>
              <option value="40-49.99">$40.00-$49.99</option>
              <option value="50-69.99">$50.00-$69.99</option>
              <option value="70-99.99">$70.00-$99.99</option>
              <option value="100-9999">$100.00+</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-1">Plan Status</div>
          <div class="col-xl-2">
            <select [(ngModel)]="selectPlanStatus" class="form-control">
              <option value="All">All</option>
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-1">
            From:
          </div>
          <div class="col-xl-2">
            <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [(ngModel)]="extractFromDate"></my-date-picker>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-1">
            To:
          </div>
          <div class="col-xl-2">
            <my-date-picker name="extractToDate" [options]="myDatePickerOptions" [(ngModel)]="extractToDate"></my-date-picker>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3"><button class="btn btn-default" (click)="downloadFullExtract()">Download</button></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12" style="height:180px;"></div>
</div>