<div style="margin: 50px;">
	<h1 style="margin: 20px 0 40px 0">Data Maintenance</h1>
	<h3 style="margin: 40px 0 40px 0">Recent Updates</h3>	

<table class="table table-sm">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Date_Time_Created</th>
            <th>Username</th>
            <th>Product_Category</th>
            <th>Product_Change_Type</th>
            <th>Segment</th>
            <th>Brand</th>
            <th>Product_Type</th>
            <th>Plan_name</th>
            <th>Term</th>
            <th>STD_Fee</th>
            <th>Hide</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of updatedPlans ">
            <td>NOW</td>
            <td>{{obj.Date_Time_Created}}</td>
            <td>{{obj.Username}}</td>
            <td>{{obj.Product_Category}}</td>
            <td>{{obj.Product_Change_Type}}</td>
            <td>{{obj.Segment}}</td>
            <td>{{obj.Brand}}</td>
            <td>{{obj.Product_Type}}</td>
            <td>{{obj.Plan_name}}</td>
            <td>{{obj.Term}}</td>
            <td>{{obj.Standard_Fee}}</td>
            <td>
            	<input type="checkbox"  [(ngModel)]="obj.Hidden" 
            	(change)="toggleHidden(obj)" >
            </td>

            </tr>
        </tbody>
      </table>
</div>


