﻿<div class="row">
  <div class="col-xl-12">
    <h2 class="text-muted">Data Maintenance</h2>
    <hr />
    <h3>Product Type</h3>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <div class="card-block table-responsive">
      <p><button type="button" class="btn btn-sm btn-success" (click)="openAdd(content)">Add New</button></p>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Product Type Name</th>
            <th>Product Type Category</th>
            <th>Product Category</th>
            <th>Active</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of productTypes">
            <td>{{obj.productTypeName}}</td>
            <td>{{obj.productTypeCategory}}</td>
            <td>{{obj.productCategory}}</td>
            <td>{{obj.recordStatus}}</td>
            <td><button type="button" class="btn btn-sm btn-info" (click)="openEdit(content, obj.productTypeId)">edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{modalMode}} Product Name</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table>
      <tr>
        <td>Product Type:</td>
        <td><input [(ngModel)]="productType.productTypeName" id="name" class="form-control" required></td>
      </tr>
      <tr>
        <td>Product Category:</td>
        <td>
          <select [(ngModel)]="productType.productCategoryId" class="form-control">
            <option value="1">Postpaid</option>
            <option value="2">Prepaid</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Product Type Category:</td>
        <td>
          <select [(ngModel)]="productType.productTypeCategoryId" class="form-control">
            <option value="1" *ngIf="productType.productCategoryId=='1'">Phone</option>
            <option value="2" *ngIf="productType.productCategoryId=='1'">MBB</option>
            <option value="3" *ngIf="productType.productCategoryId=='2'">Phone</option>
            <option value="4" *ngIf="productType.productCategoryId=='2'">MBB</option>
          </select>
        </td>
      </tr>

      <tr *ngIf="modalMode == 'Edit'">
        <td>Active:</td>
        <td><input [(ngModel)]="productType.recordStatus" type="checkbox" /></td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button *ngIf="modalMode == 'Add'" type="button" class="btn btn-secondary" (click)="saveAdd()">Add</button>
    <button *ngIf="modalMode == 'Edit'" type="button" class="btn btn-secondary" (click)="saveEdit()">Save</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>