<div class="row">
  <div class="col-xl-1"> 
    <p> 
      <span class="text-bold">Category:</span> <br/>
      {{this.plan.productCategoryString || 'Not Specified'}} 
    </p>
  </div>

  <div class="col-xl-1"> 
    <p> 
      <span class="text-bold">Brand:</span> <br/>
      {{this.plan.brandString || 'Not Specified'}}
    </p>
  </div>

  <div class="col-xl-1"> 
    <p> 
      <span class="text-bold">Product Type:</span> <br/>
      {{this.plan.productTypeString || 'Not Specified'}}
    </p>
  </div>


  <div class="col-xl-1"> 
    <p> 
      <span class="text-bold">Expiry:</span> <br/>
      {{this.plan.termString || 'Not Specified'}}
    </p>
  </div>


  <div class="col-xl-2">
    <p >
      <span class="text-bold">Product Name: </span><br/>
      {{this.plan.productNameString || 'Not Specified'}} 
    </p>
  </div>



  <div class="col-xl-1"> 
    <p> 
      <span class="text-bold">Standard Fee:</span> <br/>
      {{this.plan.standardFee || '40.51'}}
    </p>
  </div>

  <div class="col-xl-1"> 
    <p> 
      <span class="text-bold">Segment:</span> <br/>
      {{this.plan.segment || 'Not Specified'}} 
    </p>
  </div>

  <div class="col-xl-1"> 
    <p> 
      <span class="text-bold">Plan Type:</span> <br/>
      {{this.plan.planType || 'Not Specified'}}
    </p>
  </div>

</div>
