﻿.sectionHeading
{
  font-weight:bold;
  padding-top:15px;
  font-size:1.1rem;
}

.sectionMessage
{
  font-size: 0.9rem;
}

.subSectionHeading {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.05rem;
  background-color:lightgray;
}

.subSectionSubHeading {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
}

.subSectionMessage {
  font-size: 0.8rem;
}

body
{
  font-size:0.90rem;
}

.blockLevelHelp
{
  font-size:0.7rem;
}

.form-control {
  font-size: 0.95rem;
}

.card-block{
  background: white;
  padding: 20px 40px !important;
  border-radius: 8px;

}

.plan-details-header{
  background-color: rgb(231, 237, 232);
  z-index: 1;
  width: 100%;
  padding: 10px 12px 0 30px;
  position: fixed;
  margin-top: -20px;
  margin-left: -16px;
  box-shadow: 0 4px 2px -2px gray;
}

.plan-content{
  margin-top: 120px;
}

.text-bold{
  font-weight: bolder;
}
