﻿<div class="row">
  <div class="col-xl-12">

    <div class="plan-details-header">

      <plan-details [(plan)]="plan"></plan-details>

    </div>

    <div class="plan-content">
      <h2 class="text-muted">{{editMode}} Plan</h2>
      <hr />
      <div class="card-block">
        <ngb-tabset #tasbset="ngbTabset">
          <!-- 1. Select Plan and Action -->
          <ngb-tab title="1 Select Plan and Action" id="planTab1">

            <ng-template ngbTabContent>

              <tab1 [(plan)]="plan" [(editMode)]="editMode"></tab1>
              <div class="row">
                <div class="col-xl-6">
                  <button class="btn btn-primary" [disabled]="this.plan.disableTab2" (click)="tasbset.select('planTab2')">Next - Domestic Inclusion </button>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <!--0000000000000000000000000000000000000000000 2. Domestic Inclusion -->
          <ngb-tab title="2 Domestic Inclusions" id="planTab2">
            <ng-template ngbTabContent>
              <tab2 [(plan)]="plan"></tab2>

              <div class="row">
                <div class="col-xl-6">
                  <button class="btn btn-primary" (click)="tasbset.select('planTab1')">Back</button>
                  <button class="btn btn-primary" [disabled]="this.plan.disableTab3" (click)="tasbset.select('planTab3')">Next - International Inclusion</button>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- 3. International Inclusion -->
          <ngb-tab title="3 International Inclusions" id="planTab3">
            <ng-template ngbTabContent>
              <tab3 [(plan)]="plan"></tab3>
              <div class="row">
                <div class="col-xl-6">
                  <button class="btn btn-primary" (click)="tasbset.select('planTab2')">Back</button>
                  <button class="btn btn-primary" [disabled]="this.plan.disableTab4" (click)="tasbset.select('planTab4')">Next - Content/Media</button>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- 4. Content -->
          <ngb-tab title="4 Content" id="planTab4">
            <ng-template ngbTabContent>
              <tab4 [(plan)]="plan"></tab4>
              <div class="row">
                <div class="col-xl-6">
                  <button class="btn btn-primary" (click)="tasbset.select('planTab3')">Back</button>
                  <button class="btn btn-primary" [disabled]="this.plan.disableTab5" (click)="tasbset.select('planTab5')">Next - Other Inclusions</button>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- 5. Other Inclusions -->
          <ngb-tab title="5 Other Inclusions" id="planTab5">
            <ng-template ngbTabContent>
              <tab5 [(plan)]="plan"></tab5>
              <div class="row">
                <div class="col-xl-6">
                  <button class="btn btn-primary" (click)="tasbset.select('planTab4')">Back</button>
                  <button class="btn btn-primary" [disabled]="this.plan.disableTab6" (click)="tasbset.select('planTab6')">Next - Promotional Offers</button>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- 6. Promotional Offers -->
          <ngb-tab title="6 Promotional Offers" id="planTab6">
            <ng-template ngbTabContent>
              <tab6 [(plan)]="plan"  [(editMode)]="editMode" id="planTab6"></tab6>
              <div class="row">
                <div class="col-xl-6">
                  <button class="btn btn-primary" (click)="tasbset.select('planTab5')">Back</button>
                  <button class="btn btn-primary" [disabled]="this.plan.disableTab7" (click)="tasbset.select('planTab7')">Next - Confirmation</button>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- 7. Confirm and Submit -->
          <ngb-tab title="7 Confirm & Submit" id="planTab7">
            <ng-template ngbTabContent>
              <div class="sectionHeading">Section 7: Confirmation</div>
              <div class="sectionMessage">Confirm and submit data</div>
              <hr />
              <div class="row">
                <div class="col-xl-12">
                  <div><strong>CHECK YOUR DATA</strong></div>
                  <div>Before submitting your update/new entries, use the "BACK" button to review<br />and ensure accuracy and completeness</div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12">
                  <button class="btn btn-primary" (click)="tasbset.select('planTab6')">Back</button>
                  <button class="btn btn-success" (click)="openConfirm(content,formIncomplete)">Submit</button>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>

      
    </div>

  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirm Submit</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to submit your changes?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="saveForm(postSubmission, formError)">Save</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>
<ng-template #postSubmission let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Submission Completed</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Submission completed. How would you like to continue?</p>
  </div>
  <div class="modal-footer">
    <a [routerLink]="['/search']" [routerLinkActive]="['router-link-active']" (click)="c('Close click')" class="btn btn-secondary">Plan Search</a>
    <a [routerLink]="['/plan']" [routerLinkActive]="['router-link-active']" (click)="c('Close click')" class="btn btn-secondary">New Plan</a>
    <a [routerLink]="['/reporting']" [routerLinkActive]="['router-link-active']" (click)="c('Close click')" class="btn btn-secondary">Reporting</a>
<!--     <a [routerLink]="['/home']" [routerLinkActive]="['router-link-active']" (click)="c('Close click')" class="btn btn-secondary">Home</a>
 -->  </div>
</ng-template>
<ng-template #formIncomplete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Form incomplete</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>There are incomplete fields in your submission<br />
      Please go back and fix the problem(s)</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
  <ng-template #formError let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Submission Error</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        Error: Record could not be written to the database.
      </p>
    </div>
<!--     <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Try Again</button>
      <a [routerLink]="['/home']" [routerLinkActive]="['router-link-active']" (click)="c('Close click')" class="btn btn-secondary">Home</a>
    </div>
 -->  </ng-template>
