﻿.sectionHeading {
  font-weight: bold;
  padding-top: 15px;
}

.sectionMessage {
  font-size: 0.9rem;
}

.subSectionHeading {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.95rem;
}

.subSectionMessage {
  font-size: 0.8rem;
}

body {
  font-size: 0.90rem;
}

.blockLevelHelp {
  font-size: 0.7rem;
}

.form-control {
  font-size: 0.95rem;
}

.required-field{
  color: red;
}
