﻿<div class="sectionHeading">Section 1: Product and Brand Details</div>
<div class="sectionMessage">Segment, brand, product type, term, name, plan change type</div>
<hr />
<div class="row">
  <div class="subSectionHeading col-xl-12">1.1 Select the Plan</div>
</div>
<div class="row">
  <div class="col-xl-3">
    1.11 Product Category<br />
    <div class="form-group  {{ !this.plan.productCategoryId ? 'has-warning' : 'has-success'}}">
      <select [(ngModel)]="this.plan.productCategoryId" class="form-control {{ !this.plan.productCategoryId  ? 'form-control-warning' : 'form-control-success'}}" (change)="loadSelectors()">
        <option></option>
        <option *ngFor="let pc of productCategories" [value]="pc.productCategoryId">{{pc.productCategoryName}}</option>
      </select>
    </div>
  </div>
  <div class="col-xl-3">
    1.12 Segment<br />
    <div class="form-group  {{ !this.plan.segment ? 'has-warning' : 'has-success'}}">
      <select name="selectedSegment" [(ngModel)]="this.plan.segment" class="form-control {{ !this.plan.segment ? 'form-control-warning' : 'form-control-success'}}" >
        <option></option>
        <option value="Consumer" [selected]="this.plan.segment=='Consumer'">Consumer</option>
        <option value="Business" *ngIf="this.plan.productCategoryId==1">Business</option>
      </select>
    </div>
  </div>
  <div class="col-xl-3">
    1.13 Brand<br />
    <div class="form-group  {{ !this.plan.brandId ? 'has-warning' : 'has-success'}}">
      <select name="brandId" [(ngModel)]="this.plan.brandId" class="form-control {{ !this.plan.brandId ? 'form-control-warning' : 'form-control-success'}}" (change)="setBrand()">
        <option></option>
        <option *ngFor="let b of this.plan.brands" [selected]="b.brandId == this.plan.brandId" [value]="b.brandId">{{b.brandName}}</option>
      </select>
    </div>
  </div>
  <div class="col-xl-3">
    1.14 Product Type<br />
    <div class="form-group  {{ !this.plan.productTypeId ? 'has-warning' : 'has-success'}}">
      <select [(ngModel)]="this.plan.productTypeId" class="form-control" (change)="setProductType()">
        <option></option>
        <optgroup label="Phone">
          <option *ngFor="let pt of this.plan.productTypes | matchesProductTypeCategoryId : '1' | uniqueList: 'productTypeName'" [value]="pt.productTypeId">{{pt.productTypeName}}</option>
        </optgroup>
        <optgroup label="MBB">
          <option *ngFor="let pt of this.plan.productTypes | matchesProductTypeCategoryId : '2' | uniqueList: 'productTypeName'" [value]="pt.productTypeId">{{pt.productTypeName}}</option>
        </optgroup>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-3">
    1.15 Term<br />
    <div class="form-group  {{ !this.plan.unit ? 'has-warning' : 'has-success'}}">
      <select [(ngModel)]="this.plan.unit" class="form-control {{ !this.plan.unit ? 'form-control-warning' : 'form-control-success'}}" >
        <option value="Day" selected>Day</option>
        <option value="Month">Month</option>
      </select>
    </div>
  </div>
  <div class="col-xl-3">
    1.16 Expiry<br />
    <div class="form-group  {{ !this.plan.termId ? 'has-warning' : 'has-success'}}">
      <select name="termId" [(ngModel)]="this.plan.termId" class="form-control {{ !this.plan.termId ? 'form-control-warning' : 'form-control-success'}}" (change)="setTerm()">
        <option></option>
        <option *ngFor="let t of this.plan.terms | matchesUnit: this.plan.unit" [selected]="t.termId == this.plan.termId" [value]="t.termId">{{t.termValue}} - {{t.unit}}</option>
      </select>
    </div>
  </div>
  <div class="col-xl-3">
    1.17 Product Name<br />
    <div class="form-group  {{ !this.plan.productNameId ? 'has-warning' : 'has-success'}}">
      <select name="productNameId" [(ngModel)]="this.plan.productNameId" class="form-control {{ !this.plan.productNameId ? 'form-control-warning' : 'form-control-success'}}" (change)="setProductName()">
        <option></option>
        <option *ngFor="let pn of this.plan.productNames" [selected]="pn.productNameId == this.plan.productNameId" [value]="pn.productNameId">{{pn.productNameName}}</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="subSectionHeading col-xl-12">1.2 Change Type: Action to be Taken</div>
  <div class="subSectionMessage col-xl-12">Are you updating/deactivation an existing plan or creating a new plan?</div>
</div>
<div class="row">
  <div class="col-xl-6">
    1.21 Plan Change Type<br />
    <fieldset class="form-group">
      <div class="radio">
        <label>
          <input type="radio" name="planChangeType" value="Update" [(ngModel)]="this.plan.productChangeType" [disabled]="this.editMode == 'New'"> Update
        </label>
      </div>
      <div class="radio"><label><input type="radio" name="planChangeType" value="New" [(ngModel)]="this.plan.productChangeType" [checked]="this.editMode == 'New'"> New</label></div>
      <div class="radio"><label><input type="radio" name="planChangeType" value="Deactivate" [(ngModel)]="this.plan.productChangeType" [disabled]="this.editMode == 'New'"> Deactivate (Make an existing plan inactive)</label></div>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="subSectionHeading col-xl-12">1.3 Plan Type: Standard or Promotional Only Plan?</div>
  <div class="subSectionMessage col-xl-12">Will the change be made to a standard plan or to a non-standard plan that is available only for a limited promotional period?</div>
</div>
<div class="row">
  <div class="col-xl-6">
    1.31 Plan Type<br />
    <div class="form-check"><label class="form-check-label"><input type="radio" name="planType" [(ngModel)]="this.plan.planType" (ngModelChange)="validateTab1()" value="Standard" [checked]="this.plan.planType == 'Standard'"> Standard</label></div>
    <div class="form-check"><label class="form-check-label"><input type="radio" name="planType" [(ngModel)]="this.plan.planType" (ngModelChange)="validateTab1()" value="Promotional" [checked]="this.plan.planType == 'Promotional'"> Promotional - non-standard plan</label></div>
  </div>
</div>
<div class="row" *ngIf="this.plan.planType=='Promotional'">
  <div class="col-xl-12">
    <div class="row">
      <div class="col-xl-3">
        1.32 Promotional Plan Fee<br />
        <input type="number" [(ngModel)]="this.plan.promotionalPlanFee" class="form-control {{ !this.plan.promotionalPlanFee? 'form-control-warning' : 'form-control-success'}}"
        placeholder="$00.00" (keypress)="preventKeyStrokes($event)"
        (ngModelChange)="validateTab1()"
        >
        <p class="blockLevelHelp">Fee per month</p>
        <p *ngIf="!this.plan.promotionalPlanFee" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        1.33 Promotional Offer Start<br />
        <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.promotionalOnlyOfferStartDate"  class="{{ !this.promotionalOnlyOfferStartDate? 'form-control-warning' : 'form-control-success'}}"
        (ngModelChange)="this.plan.promotionalOnlyOfferStartDate = formatDate($event); validateTab1()"
        ></my-date-picker>
        <p *ngIf="!this.plan.promotionalOnlyOfferStartDate" class="blockLevelHelp required-field" style="color: red">* Required field
        </p>
      </div>


      


      <div class="col-xl-3">
        1.34 Promotional Offer End <br />
        <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.promotionalOnlyOfferEndDate"  class="{{ !this.plan.promotionalOnlyOfferEndDate? 'form-control-warning' : 'form-control-success'}}"
        (ngModelChange)="this.plan.promotionalOnlyOfferEndDate = formatDate($event); validateTab1()"></my-date-picker>
        <p *ngIf="!this.plan.promotionalOnlyOfferEndDate" class="blockLevelHelp required-field" style="color: red">* Required field

        </p>
      </div>
      <div class="col-xl-3">
        1.35 Promotional offer - Until Withdrawn<br />
        <input type="checkbox" [(ngModel)]="promotionalOfferUntilWithdrawn" (click)="this.promotionalOnlyOfferEndDate = getHighDate(this.promotionalOnlyOfferEndDate)" (ngModelChange)="this.plan.promotionalOnlyOfferEndDate = this.promotionalOnlyOfferEndDate ? '9999-12-31T00:00:00':null;"> Yes
      </div>
    </div>
  </div>
</div>
