﻿
<div class="sectionHeading">Section 2: Plan price and domestic inclusions</div>
<div class="sectionMessage">Plan fee, standard discounts, domestic data, voice/talk and text inclusions</div>
<hr />

<div class="row">
  <div class="subSectionHeading col-xl-12">2.1 Monthly Plan Fee</div>
</div>
<div class="row">
  <div class="col-xl-3">
    2.11 Standard Fee<br />
    <div class="form-group {{ !this.plan.standardFee ? 'has-warning' : 'has-success'}}">
      <input type="number" [(ngModel)]="this.plan.standardFee" class="form-control {{ !this.plan.standardFee ? 'form-control-warning' : 'form-control-success'}}" placeholder="00.00" [value]="plan?.standardFee" (keypress)="preventKeyStrokes($event)">
      <p class="blockLevelHelp">Fee per month</p>
    </div>
  </div>
  <div class="col-xl-3">
    2.111 Standard Fee Payment Terms - Details<br />
    <div class="form-group {{ !this.plan.standardFeePaymentTermsDetails ? 'has-warning' : 'has-success'}}">
      <textarea [(ngModel)]="this.plan.standardFeePaymentTermsDetails" rows="6" cols="40"
      (keypress)="preventEnter($event)"
      ></textarea>
      <p class="blockLevelHelp">e.g. Prepaid paid in advance by credit card and direct debit - full year paid upfront</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-3">
    2.12 Student Discount?<br />
    <fieldset class="form-group  has-success">
      <div class="radio"><label><input type="radio" name="studentDiscount" [(ngModel)]="this.plan.studentDiscount" (ngModelChange)="validateTab2()" value="Yes"> Yes - Standard Inclusion</label></div>
      <div class="radio"><label><input type="radio" name="studentDiscount" [(ngModel)]="this.plan.studentDiscount" (ngModelChange)="validateTab2()" value="No" (click)="this.plan.studentDiscountType=null;this.plan.studentDiscountValue=null"> No</label></div>
    </fieldset>
  </div>
  <div class="col-xl-3" *ngIf="this.plan.studentDiscount == 'Yes'">
    2.13 Student Discount Type<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="studentDiscountType" [(ngModel)]="this.plan.studentDiscountType" (ngModelChange)="validateTab2()" value="Value"> $ Value</label></div>
      <div class="radio"><label><input type="radio" name="studentDiscountType" [(ngModel)]="this.plan.studentDiscountType" (ngModelChange)="validateTab2()" value="Percentage"> Percentage (%)</label></div>
    </fieldset>
    <p *ngIf="!this.plan.studentDiscountType" class="blockLevelHelp required-field" style="color: red">* Required field</p>
  </div>
  <div class="col-xl-3" *ngIf="this.plan.studentDiscount == 'Yes'">
    2.14 Student Discount Value<br />
    <input [(ngModel)]="this.plan.studentDiscountValue" (ngModelChange)="validateTab2()" class="form-control" placeholder="00.00" type="number" (keypress)="preventKeyStrokes($event)">
    <p class="blockLevelHelp">$ or percentage student discount on monthly fee</p>
    <p *ngIf="!this.plan.studentDiscountValue" class="blockLevelHelp required-field" style="color: red">* Required field</p>
  </div>
</div>
<div class="row">
  <div class="col-xl-3">
    2.15 Bundle Discount?<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="bundleDiscount" [(ngModel)]="this.plan.bundleDiscount" (ngModelChange)="validateTab2()" value="All"> Yes - All Channels</label></div>
      <div class="radio"><label><input type="radio" name="bundleDiscount" [(ngModel)]="this.plan.bundleDiscount" (ngModelChange)="validateTab2()" value="Online"> Yes - Online Only</label></div>
      <div class="radio"><label><input type="radio" name="bundleDiscount" [(ngModel)]="this.plan.bundleDiscount" (ngModelChange)="validateTab2()" (click)="this.plan.bundleDiscountDetails=null" value="None">None</label></div>
    </fieldset>
  </div>
  <div class="col-xl-3"  *ngIf="this.plan.bundleDiscount == 'All' || this.plan.bundleDiscount == 'Online'">
    2.16 Bundle Discount - Details<br />
    <textarea [(ngModel)]="this.plan.bundleDiscountDetails" (ngModelChange)="validateTab2()" 
    (keypress)="preventEnter($event)" rows="6" cols="40"></textarea>
    <p *ngIf="!this.plan.bundleDiscountDetails" class="blockLevelHelp required-field" style="color: red">* Required field</p>
  </div>
</div>
<div class="row">
  <div class="subSectionHeading col-xl-12">2.2 Data Inclusions</div>
</div>
<div class="row">
  <div class="col-xl-3">
    2.21 Standard Data (GB)<br />
    <div class="form-group {{ (!this.plan.standardData && this.plan.standardData!=0) ? 'has-warning' : 'has-success'}}">
      <input type="number" [(ngModel)]="this.plan.standardData" class="form-control {{ (!this.plan.standardData && this.plan.standardData!=0) ? 'form-control-warning' : 'form-control-success'}}" placeholder="00.00"  (keypress)="preventKeyStrokes($event)">
    </div>
  </div>
  <div class="col-xl-3">
    2.22 Standard Data (GB) - Online Sign Up Only<br />
    <input type="number" [(ngModel)]="this.plan.standardDataOnlineSignUp" class="form-control" placeholder="00.00" (keypress)="preventKeyStrokes($event)">
  </div>
</div>
<div class="row">
  <div class="subSectionHeading col-xl-12">2.3 Domestic Voice Inclusions</div>
</div>
<div class="row">
  <div class="col-xl-3">
    2.31 Domestic Voice Inclusions<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="domesticVoiceInclusions" [(ngModel)]="this.plan.standardDomesticVoiceInclusions" (ngModelChange)="validateTab2()" (click)="this.plan.standardDomesticVoiceValue=null" value="Unlimited"> Unlimited</label></div>
      <div class="radio"><label><input type="radio" name="domesticVoiceInclusions" [(ngModel)]="this.plan.standardDomesticVoiceInclusions" (ngModelChange)="validateTab2()" value="Value Capped"> Included Value (capped)</label></div>
      <div class="radio"><label><input type="radio" name="domesticVoiceInclusions" [(ngModel)]="this.plan.standardDomesticVoiceInclusions" (ngModelChange)="validateTab2()" value="Minutes Capped"> Included Minutes (capped)</label></div>
      <div class="radio"><label><input type="radio" name="domesticVoiceInclusions" [(ngModel)]="this.plan.standardDomesticVoiceInclusions" (ngModelChange)="validateTab2()" (click)="this.plan.standardDomesticVoiceValue=null;this.plan.standardDomesticVoiceDetails=null;" value="PAYG"> PAYG</label></div>
      <div class="radio"><label><input type="radio" name="domesticVoiceInclusions" [(ngModel)]="this.plan.standardDomesticVoiceInclusions" (ngModelChange)="validateTab2()" (click)="this.plan.standardDomesticVoiceValue=null;this.plan.standardDomesticVoiceDetails=null;" value="None"> None</label></div>
    </fieldset>
  </div>
  <div class="col-xl-3" *ngIf="this.plan.standardDomesticVoiceInclusions=='Value Capped'">
    2.32 Domestic Voice $ Value<br />
    <input [(ngModel)]="this.plan.standardDomesticVoiceValue" (ngModelChange)="validateTab2()" class="form-control" placeholder="00.00" type="number"  (keypress)="preventKeyStrokes($event)">
    <p class="blockLevelHelp">$ amount for domestic voice calls</p>
    <p *ngIf="!this.plan.standardDomesticVoiceValue" class="blockLevelHelp required-field" style="color: red">* Required field</p>
  </div>
  <div class="col-xl-3" *ngIf="this.plan.standardDomesticVoiceInclusions=='Minutes Capped'">
    2.33 Domestic Voice # Minutes<br />
    <input [(ngModel)]="this.plan.standardDomesticVoiceValue" (ngModelChange)="validateTab2()" class="form-control" placeholder="000" type="number" (keypress)="preventKeyStrokes($event)">
    <p class="blockLevelHelp"># mins for domestic voice calls</p>
    <p *ngIf="!this.plan.standardDomesticVoiceValue" class="blockLevelHelp required-field" style="color: red">* Required field</p>
  </div>
  <div class="col-xl-3" *ngIf="this.plan.standardDomesticVoiceInclusions!='Unlimited'">
    2.34 Domestic Voice Details<br />
    <input [(ngModel)]="this.plan.standardDomesticVoiceDetails" (ngModelChange)="validateTab2()" class="form-control">
    <p class="blockLevelHelp">eg. Excludes premium numbers</p>
  </div>
</div>
<div class="row" *ngIf="this.plan.productCategoryId==2">
  <div class="col-xl-3">
    2.35 Customer to Customer Included<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="customerToCustomerIncluded" [(ngModel)]="this.plan.standardDomesticCustomerToCustomerIndicator" [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="customerToCustomerIncluded" [(ngModel)]="this.plan.standardDomesticCustomerToCustomerIndicator" [value]=false> No</label></div>
    </fieldset>
  </div>
  <div class="col-xl-3" *ngIf="this.plan.standardDomesticCustomerToCustomerIndicator">
    2.36 Customer to Customer Value<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="customerToCustomerValue" [(ngModel)]="this.plan.standardDomesticCustomerToCustomerValue" value="Unlimited"> Unlimited</label></div>
      <div class="radio"><label><input type="radio" name="customerToCustomerValue" [(ngModel)]="this.plan.standardDomesticCustomerToCustomerValue" value="Other"> Other</label></div>
    </fieldset>
  </div>
  <div class="col-xl-3" *ngIf="this.plan.standardDomesticCustomerToCustomerIndicator">
    2.37 Customer to Customer Calls - Other Details<br />
    <input [(ngModel)]="this.plan.standardDomesticCustomerToCustomerDetails" class="form-control">
    <p class="blockLevelHelp">eg. Excludes premium numbers</p>
  </div>
</div>
<div class="row">
  <div class="subSectionHeading col-xl-12">2.4 Domestic Text/SMS/MMS Inclusions</div>
</div>
<div class="row">
  <div class="col-xl-3">
    2.41 Domestic Text Inclusions<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="standardDomesticTextInclusions" [(ngModel)]="this.plan.standardDomesticTextInclusions" (click)="this.plan.standardDomesticTextDetails=null"  value="Unlimited"> Unlimited</label></div>
      <div class="radio"><label><input type="radio" name="standardDomesticTextInclusions" [(ngModel)]="this.plan.standardDomesticTextInclusions" (ngModelChange)="validateTab2()" value="Number"> Number</label></div>
      <div class="radio"><label><input type="radio" name="standardDomesticTextInclusions" [(ngModel)]="this.plan.standardDomesticTextInclusions" (click)="this.plan.standardDomesticTextAmount=null;this.plan.standardDomesticTextDetails=null;"  value="Included In Voice"> Included in Voice</label></div>
      <div class="radio"><label><input type="radio" name="standardDomesticTextInclusions" [(ngModel)]="this.plan.standardDomesticTextInclusions" (click)="this.plan.standardDomesticTextAmount=null;this.plan.standardDomesticTextDetails=null;"  value="PAYG"> PAYG</label></div>
      <div class="radio"><label><input type="radio" name="standardDomesticTextInclusions" [(ngModel)]="this.plan.standardDomesticTextInclusions" (click)="this.plan.standardDomesticTextAmount=null;this.plan.standardDomesticTextDetails=null;" value="None"> None</label></div>
    </fieldset>
  </div>
  <div class="col-xl-3" *ngIf="this.plan.standardDomesticTextInclusions=='Number'">
    2.42 Domestic Text #<br />
    <input [(ngModel)]="this.plan.standardDomesticTextAmount" (ngModelChange)="validateTab2()" class="form-control" placeholder="000" type="number" (keypress)="preventKeyStrokes($event)">
    <p class="blockLevelHelp"># included SMS/MMS if capped</p>
    <p *ngIf="!this.plan.standardDomesticTextAmount" class="blockLevelHelp required-field" style="color: red">* Required field</p>
  </div>
  <div class="col-xl-3"  *ngIf="this.plan.standardDomesticTextInclusions!='Unlimited' && this.plan.standardDomesticTextInclusions!='Number'">
    2.43 Domestic Text Details<br />
    <input [(ngModel)]="this.plan.standardDomesticTextDetails" class="form-control">
    <p class="blockLevelHelp">eg. Excludes premium numbers</p>
  </div>
</div>
<div class="row" *ngIf="this.plan.productCategoryId==2">
  <div class="subSectionHeading col-xl-12">2.5 Prepaid Domestic Credit/Extra Credit</div>
</div>
<div class="row" *ngIf="this.plan.productCategoryId==2">
  <div class="col-xl-3">
    2.51 Prepaid Domestic Credit/Extra Credit<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="standardDomesticPrepaidExtraCreditIndicator" [(ngModel)]="this.plan.standardDomesticPrepaidExtraCreditIndicator" [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="standardDomesticPrepaidExtraCreditIndicator" [(ngModel)]="this.plan.standardDomesticPrepaidExtraCreditIndicator" [value]=false> No</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9" *ngIf="this.plan.standardDomesticPrepaidExtraCreditIndicator">
    <div class="row">
      <div class="col-xl-4">
        2.52 Prepaid Domestic Credit/Extra Credit Value<br />
        <input [(ngModel)]="this.plan.standardDomesticPrepaidExtraCreditValue" class="form-control" placeholder="00.00" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">Fee per unit if PAYG</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        2.52 Prepaid Domestic Credit/Extra Credit Details<br />
        <textarea [(ngModel)]="this.plan.standardDomesticPrepaidExtraCreditDetails" rows="6" cols="40"></textarea>
        <p class="blockLevelHelp">eg. Unused credit rolls over up to $500 when recharge pre expiry</p>
      </div>
    </div>
  </div>
</div>
