﻿<div class="sectionHeading">Section 3: International Inclusions</div>
<div class="sectionMessage">International voice, text, roaming, airline frequent flyer inclusions</div>
<hr />
<div class="row">
  <div class="subSectionHeading col-xl-12">3.1 International Voice Inclusions</div>
</div>
<div class="row">
  <div class="col-xl-3">
    3.11 International Voice Inclusions 1<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="internationalVoice1Inclusions" [(ngModel)]="this.plan.internationalVoice1Inclusions" (ngModelChange)="validateTab3()" value="Unlimited"> Unlimited</label></div>
      <div class="radio"><label><input type="radio" name="internationalVoice1Inclusions" [(ngModel)]="this.plan.internationalVoice1Inclusions" (ngModelChange)="validateTab3()" value="Value Capped"> Included value (capped)</label></div>
      <div class="radio"><label><input type="radio" name="internationalVoice1Inclusions" [(ngModel)]="this.plan.internationalVoice1Inclusions" (ngModelChange)="validateTab3()" value="Minutes Capped"> Included Minutes (capped)</label></div>
      <div class="radio"><label><input type="radio" name="internationalVoice1Inclusions" [(ngModel)]="this.plan.internationalVoice1Inclusions" (ngModelChange)="validateTab3()"  (click)="intVoice1Clear()" value="Included"> Included in Domestic Voice Value</label></div>
      <div class="radio"><label><input type="radio" name="internationalVoice1Inclusions" [(ngModel)]="this.plan.internationalVoice1Inclusions" (ngModelChange)="validateTab3()" (click)="intVoice1Clear()" value="PAYG"> PAYG</label></div>
      <div *ngIf="this.plan.productCategoryId==2" class="radio"><label><input type="radio" name="internationalVoice1Inclusions" (ngModelChange)="validateTab3()"  [(ngModel)]="this.plan.internationalVoice1Inclusions" (click)="intVoice1Clear()" value="Prepaid From Domestic Credit"> Prepaid - from Domestic Credit</label></div>
      <div *ngIf="this.plan.productCategoryId==2" class="radio"><label><input type="radio" name="internationalVoice1Inclusions" (ngModelChange)="validateTab3()"  [(ngModel)]="this.plan.internationalVoice1Inclusions" (click)="intVoice1Clear()" value="Prepaid From International Credit"> Prepaid - International Credit</label></div>
      <div class="radio"><label><input type="radio" name="internationalVoice1Inclusions" [(ngModel)]="this.plan.internationalVoice1Inclusions" (ngModelChange)="validateTab3()"  (click)="intVoice1Clear()" value="None"> None</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9">
    <div class="row">
      <div class="col-xl-3" *ngIf="this.plan.internationalVoice1Inclusions=='Unlimited'">
        3.111 International Voice 1: Included in Plan Fee?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" [(ngModel)]="this.plan.internationalVoice1IncludedInPlan" (ngModelChange)="validateTab3()" [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" [(ngModel)]="this.plan.internationalVoice1IncludedInPlan" (ngModelChange)="validateTab3()" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.internationalVoice1IncludedInPlan==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-4" *ngIf="this.plan.internationalVoice1IncludedInPlan==false && this.plan.internationalVoice1Inclusions=='Unlimited'">
        3.112 International Voice 1: Additional Cost<br />
        <input [(ngModel)]="this.plan.internationalVoice1AdditionalCost" (ngModelChange)="validateTab3()" class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">$/mth additional</p>
        <p *ngIf="!this.plan.internationalVoice1AdditionalCost" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-4" *ngIf="this.plan.internationalVoice1Inclusions=='Value Capped'">
        3.113 International Voice 1: $Value<br />
        <input [(ngModel)]="this.plan.internationalVoice1Value" (ngModelChange)="validateTab3()" class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">$amount for international voice calls</p>
        <p *ngIf="!this.plan.internationalVoice1Value" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-4" *ngIf="this.plan.internationalVoice1Inclusions=='Minutes Capped'">
        3.114 International Voice 1: # Mins<br />
        <input [(ngModel)]="this.plan.internationalVoice1Value" (ngModelChange)="validateTab3()" class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">Number of Included Minutes</p>
        <p *ngIf="!this.plan.internationalVoice1Value" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row" *ngIf="this.plan.internationalVoice1Inclusions=='Prepaid From International Credit' || this.plan.internationalVoice1Inclusions=='Value Capped' || this.plan.internationalVoice1Inclusions=='Minutes Capped' || this.plan.internationalVoice1Inclusions=='Unlimited'">
      <div class="col-xl-4">
        3.115 International Voice 1: #Included Countries<br />
        <input [(ngModel)]="this.plan.internationalVoice1CountriesAmount" class="form-control" (ngModelChange)="setSameAsIV(); validateTab3()" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">Number of Destinations</p>
        <p *ngIf="!this.plan.internationalVoice1CountriesAmount" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-6">
        3.116 International Voice 1: List of Included Countries<br />
        <input [(ngModel)]="this.plan.internationalVoice1CountriesList" class="form-control" (ngModelChange)="setSameAsIV(); validateTab3()">
        <p class="blockLevelHelp">eg. UK, USA, Singapore, Hong Kong, etc. If more than 15 countries, input - 'Multiple Countries'</p>
        <p *ngIf="!this.plan.internationalVoice1CountriesList" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row" *ngIf="this.plan.internationalVoice1Inclusions=='Prepaid From International Credit'">
      <div class="col-xl-3">
        3.117 Prepaid International Credit 1: $ Value<br />
        <input [(ngModel)]="this.plan.internationalVoice1Value" class="form-control" placeholder="00.00" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">$ amount of included Prepaid international credit</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-3">
    3.12 International Voice Inclusions 2<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="internationalVoice2Inclusions" [(ngModel)]="this.plan.internationalVoice2Inclusions" (ngModelChange)="validateTab3()"  value="Unlimited"> Unlimited</label></div>
      <div class="radio"><label><input type="radio" name="internationalVoice2Inclusions" [(ngModel)]="this.plan.internationalVoice2Inclusions" (ngModelChange)="validateTab3()" value="Value Capped"> Included value (capped)</label></div>
      <div class="radio"><label><input type="radio" name="internationalVoice2Inclusions" [(ngModel)]="this.plan.internationalVoice2Inclusions" (ngModelChange)="validateTab3()" value="Minutes Capped"> Included Minutes (capped)</label></div>
      <div class="radio"><label><input type="radio" name="internationalVoice2Inclusions" [(ngModel)]="this.plan.internationalVoice2Inclusions" (ngModelChange)="validateTab3()" (click)="intVoice2Clear()" value="Included In Domestic Voice Value"> Included in Domestic Voice Value</label></div>
      <div class="radio"><label><input type="radio" name="internationalVoice2Inclusions" [(ngModel)]="this.plan.internationalVoice2Inclusions" (ngModelChange)="validateTab3()" (click)="intVoice2Clear()" value="PAYG"> PAYG</label></div>
      <div *ngIf="this.plan.productCategoryId==2" class="radio"><label><input type="radio" name="internationalVoice2Inclusions" (ngModelChange)="validateTab3()" [(ngModel)]="this.plan.internationalVoice2Inclusions" (click)="intVoice2Clear()" value="Prepaid From Domestic Credit"> Prepaid - from Domestic Credit</label></div>
      <div *ngIf="this.plan.productCategoryId==2" class="radio"><label><input type="radio" name="internationalVoice2Inclusions" (ngModelChange)="validateTab3()" [(ngModel)]="this.plan.internationalVoice2Inclusions" (click)="intVoice2Clear()" value="Prepaid From International Credit"> Prepaid - International Credit</label></div>
      <div class="radio"><label><input type="radio" name="internationalVoice2Inclusions" [(ngModel)]="this.plan.internationalVoice2Inclusions" (ngModelChange)="validateTab3()" (click)="intVoice2Clear()" value="None"> None</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9">
    <div class="row">
      <div class="col-xl-3" *ngIf="this.plan.internationalVoice2Inclusions=='Unlimited'">
        3.121 International Voice 2: Included in Plan Fee?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" [(ngModel)]="this.plan.internationalVoice2IncludedInPlan" (ngModelChange)="validateTab3()"  [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" [(ngModel)]="this.plan.internationalVoice2IncludedInPlan" (ngModelChange)="validateTab3()"  [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.internationalVoice2IncludedInPlan==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.internationalVoice2IncludedInPlan==false && this.plan.internationalVoice2Inclusions=='Unlimited'">
        3.122 International Voice 2: Additional Cost<br />
        <input [(ngModel)]="this.plan.internationalVoice2AdditionalCost" (ngModelChange)="validateTab3()"  class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">$/mth additional</p>
        <p *ngIf="!this.plan.internationalVoice2AdditionalCost" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.internationalVoice2Inclusions=='Value Capped'">
        3.123 International Voice 2: $Value<br />
        <input [(ngModel)]="this.plan.internationalVoice2Value" (ngModelChange)="validateTab3()"  class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">$ amount for international voice calls</p>
        <p *ngIf="!this.plan.internationalVoice2Value" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.internationalVoice2Inclusions=='Minutes Capped'">
        3.124 International Voice 2: # Mins<br />
        <input [(ngModel)]="this.plan.internationalVoice2Value" (ngModelChange)="validateTab3()"  class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">Number of Included Minutes</p>
        <p *ngIf="!this.plan.internationalVoice2Value" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row" *ngIf="this.plan.internationalVoice2Inclusions=='Prepaid From International Credit' || this.plan.internationalVoice2Inclusions=='Value Capped' || this.plan.internationalVoice2Inclusions=='Minutes Capped' || this.plan.internationalVoice2Inclusions=='Unlimited'">
      <div class="col-xl-3">
        3.125 International Voice 2: #Included Countries<br />
        <input [(ngModel)]="this.plan.internationalVoice2CountriesAmount" (ngModelChange)="validateTab3()"  class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">Number of Destinations</p>
      </div>
      <div class="col-xl-6">
        3.126 International Voice 2: List of Included Countries<br />
        <input [(ngModel)]="this.plan.internationalVoice2CountriesList" class="form-control">
        <p class="blockLevelHelp">eg. UK, USA, Singapore, Hong Kong, etc. If more than 15 countries, input - 'Multiple Countries'</p>
      </div>
    </div>
    <div class="row" *ngIf="this.plan.internationalVoice2Inclusions=='Prepaid From International Credit'">
      <div class="col-xl-3">
        3.127 Prepaid International Credit 2: $ Value<br />
        <input [(ngModel)]="this.plan.internationalVoice2Value" class="form-control" placeholder="00.00" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">$ amount of included Prepaid international credit</p>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="subSectionHeading col-xl-12">3.2 International Text/SMS/MMS Inclusions</div>
</div>
<div class="row">
  <div class="col-xl-3">
    3.21 International Text Inclusions<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="internationalTextInclusions" [(ngModel)]="this.plan.internationalTextInclusions" (ngModelChange)="validateTab3()"  value="Unlimited"> Unlimited</label></div>
      <div class="radio"><label><input type="radio" name="internationalTextInclusions" [(ngModel)]="this.plan.internationalTextInclusions" (ngModelChange)="validateTab3()"  value="Included In Value"> Included value (capped)</label></div>
      <div class="radio"><label><input type="radio" name="internationalTextInclusions" [(ngModel)]="this.plan.internationalTextInclusions" (ngModelChange)="validateTab3()"  value="Number Capped"> Number (capped)</label></div>
      <div class="radio"><label><input type="radio" name="internationalTextInclusions" [(ngModel)]="this.plan.internationalTextInclusions" (ngModelChange)="validateTab3()" (click)="intTextClear()" value="Included In Domestic Voice Value"> Included in Domestic Voice Value</label></div>
      <div class="radio"><label><input type="radio" name="internationalTextInclusions" [(ngModel)]="this.plan.internationalTextInclusions" (ngModelChange)="validateTab3()" (click)="intTextClear()" value="PAYG"> PAYG</label></div>
      <div *ngIf="this.plan.productCategoryId==2" class="radio"><label><input type="radio" name="internationalTextInclusions" (ngModelChange)="validateTab3()" [(ngModel)]="this.plan.internationalTextInclusions" (click)="intTextClear()" value="Prepaid From Domestic Credit"> Prepaid - from Domestic Credit</label></div>
      <div *ngIf="this.plan.productCategoryId==2" class="radio"><label><input type="radio" name="internationalTextInclusions" (ngModelChange)="validateTab3()" [(ngModel)]="this.plan.internationalTextInclusions" (click)="intTextClear()" value="Prepaid From International Credit"> Prepaid - International Credit</label></div>
      <div class="radio"><label><input type="radio" name="internationalTextInclusions" [(ngModel)]="this.plan.internationalTextInclusions" (ngModelChange)="validateTab3()" (click)="intTextClear()" value="None"> None</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9">
    <div class="row">
      <div class="col-xl-3" *ngIf="this.plan.internationalTextInclusions=='Included In Value'">
        3.22 International Text: $<br />
        <input [(ngModel)]="this.plan.internationalTextValue" (ngModelChange)="validateTab3()"  class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">$ amount for intl SMS, MMS</p>
        <p *ngIf="!this.plan.internationalTextValue" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.internationalTextInclusions=='Number Capped'">
        3.23 International Text #<br />
        <input [(ngModel)]="this.plan.internationalTextValue" class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">Number of included intl SMS, MMS</p>
        <p *ngIf="!this.plan.internationalTextValue" (ngModelChange)="validateTab3()"  class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.internationalTextInclusions=='Unlimited' || this.plan.internationalTextInclusions=='Included In Value' || this.plan.internationalTextInclusions=='Number Capped'">
        3.24 International Text: Included Countries<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="internationalTextIncludedCountries" [(ngModel)]="this.plan.internationalTextIncludedCountries" (ngModelChange)="setSameAsIV(); validateTab3()" value="Same"> Same as International Voice</label></div>
          <div class="radio"><label><input type="radio" name="internationalTextIncludedCountries" [(ngModel)]="this.plan.internationalTextIncludedCountries"  (ngModelChange)="validateTab3()" value="Other"> Other (list countries in 3.25)</label></div>
        </fieldset>
        <p *ngIf="!this.plan.internationalTextIncludedCountries" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row" *ngIf="this.plan.internationalTextIncludedCountries=='Other' && (this.plan.internationalTextInclusions=='Unlimited' || this.plan.internationalTextInclusions=='Included In Value' || this.plan.internationalTextInclusions=='Number Capped') ">
      <div class="col-xl-4">
        3.25 International Text: #Included Countries<br />
        <input [(ngModel)]="this.plan.internationalTextCountriesAmount" (ngModelChange)="validateTab3()" class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">Number of Destinations</p>
        <p *ngIf="!this.plan.internationalTextCountriesAmount" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-8">
        3.26 International Text: List of included countries<br />
        <input [(ngModel)]="this.plan.internationalTextCountriesList" (ngModelChange)="validateTab3()" class="form-control" />
        <p class="blockLevelHelp">If more than 15 countries, input - 'Multiple Countries'</p>
        <p *ngIf="!this.plan.internationalTextCountriesList" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row" *ngIf="this.plan.internationalTextInclusions=='Unlimited' || this.plan.internationalTextInclusions=='Included In Value' || this.plan.internationalTextInclusions=='Number Capped'">
      <div class="col-xl-8">
        3.27 International Text: Details<br />
        <input [(ngModel)]="this.plan.internationalTextDetails" (ngModelChange)="validateTab3()" class="form-control">
        <p class="blockLevelHelp">Key additional points such as exclusions</p>
        <p *ngIf="!this.plan.internationalTextDetails" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="subSectionHeading col-xl-12">3.3 International Roaming Inclusions</div>
</div>
<div class="row">
  <div class="col-xl-3">
    3.31 International Roaming Inclusions<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="internationalRoamIndicator" [(ngModel)]="this.plan.internationalRoamIndicator" (ngModelChange)="validateTab3()" [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="internationalRoamIndicator" [(ngModel)]="this.plan.internationalRoamIndicator" (ngModelChange)="validateTab3()" (click)="intRoamClear();" [value]=false> No</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9" *ngIf="this.plan.internationalRoamIndicator==true">
    <div class="row">
      <div class="col-xl-4">

        3.32 International Roaming: Included in Plan Fee<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="internationalRoamIncludedInPlan" [(ngModel)]="this.plan.internationalRoamIncludedInPlan" (ngModelChange)="validateTab3()" (click)="this.plan.internationalRoamAdditionalCost=null;" [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="internationalRoamIncludedInPlan" [(ngModel)]="this.plan.internationalRoamIncludedInPlan" (ngModelChange)="validateTab3()" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.internationalRoamIncludedInPlan==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-4" *ngIf="this.plan.internationalRoamIncludedInPlan==false">
        3.33 International Roaming: Additional Costs<br />
        <input type="number" [(ngModel)]="this.plan.internationalRoamAdditionalCost" (ngModelChange)="validateTab3()" class="form-control" placeholder="00.00" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">$ amount</p>
        <p *ngIf="!this.plan.internationalRoamAdditionalCost" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="this.plan.internationalRoamIndicator==true">
  <div class="col-xl-3">
    3.34 International Roaming Details<br />
    <input [(ngModel)]="this.plan.internationalRoamDetails" (ngModelChange)="validateTab3()" class="form-control">
    <p class="blockLevelHelp">eg. Extra $ is daily cost; inc 500MB when overseas</p>
    <p *ngIf="!this.plan.internationalRoamDetails" class="blockLevelHelp required-field" style="color: red">* Required field</p>
  </div>
  <div class="col-xl-3">
    3.35 International Roaming: # included countries<br />
    <input [(ngModel)]="this.plan.internationalRoamCountryAmount" (ngModelChange)="validateTab3()" class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
    <p class="blockLevelHelp">Number of destinations</p>
    <p *ngIf="!this.plan.internationalRoamCountryAmount" class="blockLevelHelp required-field" style="color: red">* Required field</p>
  </div>
  <div class="col-xl-3">
    3.36 International Roaming: list of included countries<br />
    <input [(ngModel)]="this.plan.internationalRoamCountryList" (ngModelChange)="validateTab3()" class="form-control" />
    <p class="blockLevelHelp">List country names or relevant Zones. When more than 15 countries, enter - Multiple countries</p>
    <p *ngIf="!this.plan.internationalRoamCountryList" class="blockLevelHelp required-field" style="color: red">* Required field</p>

  </div>
</div>

<div class="row">
  <div class="subSectionHeading col-xl-12">3.4 Airline Frequent Flyer Inclusions</div>
</div>
<div class="row">
  <div class="col-xl-3">
    3.41 Frequent Flyer Inclusions<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="frequentFlyerIndicator" [(ngModel)]="this.plan.frequentFlyerIndicator" (ngModelChange)="validateTab3()" (click)="this.plan.frequentFlyerProgramId=null;this.plan.frequentFlyerProgramDetails=null;" [value]=true> Yes - Standard Inclusion</label></div>
      <div class="radio"><label><input type="radio" name="frequentFlyerIndicator" [(ngModel)]="this.plan.frequentFlyerIndicator" (ngModelChange)="validateTab3()" [value]=false> No</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9" *ngIf="this.plan.frequentFlyerIndicator==true">
    <div class="row">
      <div class="col-xl-4">
        3.42 Frequent Flyer Program<br />
        <select [(ngModel)]="this.plan.frequentFlyerProgramId" class="form-control">
          <option *ngFor="let p of ffPrograms" [value]="p.frequentFlyerProgramId" (ngModelChange)="validateTab3()" [selected]="p.frequentFlyerProgramId==this.plan.frequentFlyerProgramId">{{p.frequentFlyerProgramName}}</option>
        </select>
        <p *ngIf="!this.plan.frequentFlyerProgramId" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        3.43 Frequent Flyer Program Details<br />
        <input [(ngModel)]="this.plan.frequentFlyerProgramDetails" class="form-control" (ngModelChange)="validateTab3()"/>
        <p class="blockLevelHelp">eg. 5000 QFF points in plan, extra 5000 for online sign up; 2 points for every $1 spent</p>
        <p *ngIf="!this.plan.frequentFlyerProgramDetails" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
    </div>
  </div>
</div>
