﻿<div class="sectionHeading">Section 4: Content Inclusions</div>
<div class="sectionMessage">Sports, music, entertainment, other media/content services</div>
<hr />
<div class="row">
  <div class="subSectionHeading col-xl-12">4.1 Content Inclusions - Sports, Entertainment, Other</div>
</div>
<div class="row">
  <div class="col-xl-3">
    4.11 Content a Standard Inclusion?<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="contentIncluded"  [(ngModel)]="this.plan.standardContentIndicator" (ngModelChange)="validateTab4()" [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="contentIncluded"  [(ngModel)]="this.plan.standardContentIndicator" (ngModelChange)="validateTab4()" (click)="clearAllContent()" [value]=false> No</label></div>
    </fieldset>
  </div>
</div>
<div class="row" *ngIf="this.plan.standardContentIndicator==true">   <!-- Hide  / Show Row -->
  <div class="col-xl-12">
    <div class="row">
      <div class="subSectionHeading col-xl-12">4.2 Content Inclusions - Details</div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        4.21 Sports<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="sportsIncluded" [(ngModel)]="this.plan.standardContentSportIndicator" (ngModelChange)="validateTab4()"  [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="sportsIncluded"  [(ngModel)]="this.plan.standardContentSportIndicator" (ngModelChange)="validateTab4()" (click)="clearSportContent()" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.standardContentSportIndicator==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.standardContentSportIndicator==true">
        4.211 Sports: Data Free Streaming?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="sportsFreeStreaming" [(ngModel)]="this.plan.standardContentSportDataFree"  (ngModelChange)="validateTab4()" [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="sportsFreeStreaming" [(ngModel)]="this.plan.standardContentSportDataFree" (ngModelChange)="validateTab4()" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.standardContentSportDataFree==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.standardContentSportIndicator==true">
        4.212 Sports: Included in Plan Fee?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="sportsIncludedInFee" [(ngModel)]="this.plan.standardContentSportIncludedInPlan" (ngModelChange)="validateTab4()"  (click)="this.plan.standardContentSportAdditionalCost=null" [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="sportsIncludedInFee"[(ngModel)]="this.plan.standardContentSportIncludedInPlan" (ngModelChange)="validateTab4()" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.standardContentSportIncludedInPlan==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.standardContentSportIndicator==true && this.plan.standardContentSportIncludedInPlan==false">
        4.213 Sports: Additional Cost?<br />
        <input [(ngModel)]="this.plan.standardContentSportAdditionalCost" (ngModelChange)="validateTab4()" class="form-control" placeholder="00.00" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">eg. $15/mth for Optus Sports</p>
        <p *ngIf="!this.plan.standardContentSportAdditionalCost" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row" *ngIf="this.plan.standardContentSportIndicator==true">
      <div class="col-xl-6">
        4.214 Sports: Standard Inclusions<br />
        <input [(ngModel)]="this.plan.standardContentSportInclusions" (ngModelChange)="validateTab4()" class="form-control">
        <p class="blockLevelHelp">eg. EPL, Cricket Australia, AFL/NRL, Netball</p>
        <p *ngIf="!this.plan.standardContentSportInclusions" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row" *ngIf="this.plan.standardContentSportIndicator==true">
      <div class="col-xl-6">
        4.215 Sports: Details<br />
        <input [(ngModel)]="this.plan.standardContentSportDetails" (ngModelChange)="validateTab4()" class="form-control">
        <p class="blockLevelHelp">eg. Excludes subscription costs</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        4.22 Music<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="musicIncluded" [(ngModel)]="this.plan.standardContentMusicIndicator" (ngModelChange)="validateTab4()" [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="musicIncluded" [(ngModel)]="this.plan.standardContentMusicIndicator" (ngModelChange)="validateTab4()" (click)="clearMusic()" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.standardContentMusicIndicator==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.standardContentMusicIndicator==true">
        4.221 Music: Data Free Streaming?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="musicFreeStreaming" [(ngModel)]="this.plan.standardContentMusicDataFree" (ngModelChange)="validateTab4()" [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="musicFreeStreaming" [(ngModel)]="this.plan.standardContentMusicDataFree" (ngModelChange)="validateTab4()" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.standardContentMusicDataFree==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.standardContentMusicIndicator==true">
        4.222 Music: Included in Plan Fee?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="musicIncludedInFee" [(ngModel)]="this.plan.standardContentMusicIncludedInPlan" (ngModelChange)="validateTab4()"  (click)="this.plan.standardContentMusicAdditionalCost=null" [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="musicIncludedInFee" [(ngModel)]="this.plan.standardContentMusicIncludedInPlan" (ngModelChange)="validateTab4()" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.standardContentMusicIncludedInPlan==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.standardContentMusicIndicator==true && this.plan.standardContentMusicIncludedInPlan==false">
        4.223 Music: Additional Cost?<br />
        <input [(ngModel)]="this.plan.standardContentMusicAdditionalCost" (ngModelChange)="validateTab4()" class="form-control" placeholder="00.00" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">Extra $ per month</p>
        <p *ngIf="!this.plan.standardContentMusicAdditionalCost" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row" *ngIf="this.plan.standardContentMusicIndicator==true">
      <div class="col-xl-6">
        4.224 Music: Standard Inclusions<br />
        <input [(ngModel)]="this.plan.standardContentMusicInclusions" (ngModelChange)="validateTab4()" class="form-control">
        <p class="blockLevelHelp">eg. Spotify, Pandora, Google Play Music, Apple Music, etc</p>
        <p *ngIf="!this.plan.standardContentMusicInclusions" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row" *ngIf="this.plan.standardContentMusicIndicator==true">
      <div class="col-xl-6">
        4.225 Music: Details<br />
        <input [(ngModel)]="this.plan.standardContentMusicDetails" (ngModelChange)="validateTab4()" class="form-control">
        <p class="blockLevelHelp">eg. Excludes subscription costs</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        4.23 SVOD/TV<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="svodIncluded"  [(ngModel)]="this.plan.standardContentSvodIndicator" (ngModelChange)="validateTab4()" [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="svodIncluded" [(ngModel)]="this.plan.standardContentSvodIndicator"  (ngModelChange)="validateTab4()" (click)="clearSVOD()" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.standardContentSvodIndicator==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.standardContentSvodIndicator==true">
        4.231 SVOD/TV: Data Free Streaming?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="svodFreeStreaming"  [(ngModel)]="this.plan.standardContentSvodDataFree" (ngModelChange)="validateTab4()" [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="svodFreeStreaming" [(ngModel)]="this.plan.standardContentSvodDataFree" (ngModelChange)="validateTab4()" [value]=false> No</label></div>
        </fieldset>

        <p *ngIf="this.plan.standardContentSvodDataFree==undefined" class="blockLevelHelp required-field" style="color: red">* Required field:: {{this.plan.standardContentSvodDataFree}}</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.standardContentSvodIndicator==true">
        4.232 SVOD/TV: Included in Plan Fee?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="svodIncludedInFee"  [(ngModel)]="this.plan.standardContentSvodIncludedInPlan" (ngModelChange)="validateTab4()" (click)="this.plan.standardContentSvodAdditionalCost=null" [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="svodIncludedInFee" [(ngModel)]="this.plan.standardContentSvodIncludedInPlan"  (ngModelChange)="validateTab4()" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.standardContentSvodIncludedInPlan==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.standardContentSvodIndicator==true && this.plan.standardContentSvodIncludedInPlan==false">
        4.233 SVOD/TV: Additional Cost?<br />
        <input [(ngModel)]="this.plan.standardContentSvodAdditionalCost" (ngModelChange)="validateTab4()" class="form-control" placeholder="00.00" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">Extra $ per month</p>
        <p *ngIf="!this.plan.standardContentSvodAdditionalCost" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row" *ngIf="this.plan.standardContentSvodIndicator==true">
      <div class="col-xl-6">
        4.234 SVOD/TV: Standard Inclusions<br />
        <input [(ngModel)]="this.plan.standardContentSvodInclusions" (ngModelChange)="validateTab4()" class="form-control">
        <p class="blockLevelHelp">eg. Netflix, Stan, ABCiview, etc.</p>
        <p *ngIf="!this.plan.standardContentSvodInclusions" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row" *ngIf="this.plan.standardContentSvodIndicator==true">
      <div class="col-xl-6">
        4.235 SVOD/TV: Details<br />
        <input [(ngModel)]="this.plan.standardContentSvodDetails" (ngModelChange)="validateTab4()" class="form-control">
        <p class="blockLevelHelp">eg. Excludes subscription costs</p>

      </div>
    </div>

    <div class="row">
      <div class="col-xl-3">
        4.24 Other Content - 1<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="other1Included" [(ngModel)]="this.plan.standardContentOther1Indicator" (ngModelChange)="validateTab4()"  [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="other1Included" [(ngModel)]="this.plan.standardContentOther1Indicator" (ngModelChange)="validateTab4()" (click)="clearOther1()" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.standardContentOther1Indicator==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.standardContentOther1Indicator==true">
        4.241 Other 1: Data Free Streaming?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="other1Streaming" [(ngModel)]="this.plan.standardContentOther1DataFree"  (ngModelChange)="validateTab4()"  [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="other1Streaming"  [(ngModel)]="this.plan.standardContentOther1DataFree" (ngModelChange)="validateTab4()" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.standardContentOther1DataFree==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.standardContentOther1Indicator==true">
        4.242 Other 1: Included in Plan Fee?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="other1IncludedInFee" [(ngModel)]="this.plan.standardContentOther1IncludedInPlan" (ngModelChange)="validateTab4()"  (click)="this.plan.standardContentOther1AdditionalCost=null" [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="other1IncludedInFee"  [(ngModel)]="this.plan.standardContentOther1IncludedInPlan" (ngModelChange)="validateTab4()" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.standardContentOther1IncludedInPlan==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.standardContentOther1Indicator==true && this.plan.standardContentOther1IncludedInPlan==false">
        4.243 Other 1: Additional Cost?<br />
        <input [(ngModel)]="this.plan.standardContentOther1AdditionalCost" (ngModelChange)="validateTab4()" class="form-control" placeholder="00.00" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">Extra $ per month</p>
        <p *ngIf="!this.plan.standardContentOther1AdditionalCost" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row" *ngIf="this.plan.standardContentOther1Indicator==true">
      <div class="col-xl-6">
        4.244 Other 1: Standard Inclusions<br />
        <input [(ngModel)]="this.plan.standardContentOther1Inclusions" (ngModelChange)="validateTab4()" class="form-control">
        <p class="blockLevelHelp">eg. Fetch TC Mini, Fetch TV Mobi App</p>
        <p *ngIf="!this.plan.standardContentOther1Inclusions" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row" *ngIf="this.plan.standardContentOther1Indicator==true">
      <div class="col-xl-6">
        4.245 Other 1: Details<br />
        <input [(ngModel)]="this.plan.standardContentOther1Details" (ngModelChange)="validateTab4()" class="form-control">
        <p class="blockLevelHelp">eg. Excludes subscription costs</p>

      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        4.25 Other Content - 2<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="other2Included" [(ngModel)]="this.plan.standardContentOther2Indicator" (ngModelChange)="validateTab4()" [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="other2Included" [(ngModel)]="this.plan.standardContentOther2Indicator" (ngModelChange)="validateTab4()" (click)="clearOther2()" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.standardContentOther2Indicator==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.standardContentOther2Indicator==true">
        4.251 Other 2: Data Free Streaming?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="other2Streaming" [(ngModel)]="this.plan.standardContentOther2DataFree" (ngModelChange)="validateTab4()" [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="other2Streaming"  [(ngModel)]="this.plan.standardContentOther2DataFree" (ngModelChange)="validateTab4()" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.standardContentOther2DataFree==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.standardContentOther2Indicator==true">
        4.252 Other 2: Included in Plan Fee?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="other2IncludedInFee" [(ngModel)]="this.plan.standardContentOther2IncludedInPlan" (ngModelChange)="validateTab4()" (click)="this.plan.standardContentOther2AdditionalCost=null" [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="other2IncludedInFee" [(ngModel)]="this.plan.standardContentOther2IncludedInPlan" (ngModelChange)="validateTab4()" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.standardContentOther2IncludedInPlan==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.plan.standardContentOther2Indicator==true && this.plan.standardContentOther2IncludedInPlan==false">
        4.253 Other 2: Additional Cost?<br />
        <input [(ngModel)]="this.plan.standardContentOther2AdditionalCost" (ngModelChange)="validateTab4()" class="form-control" placeholder="00.00" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">Extra $ per month</p>
        <p *ngIf="!this.plan.standardContentOther2AdditionalCost" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row" *ngIf="this.plan.standardContentOther2Indicator==true">
      <div class="col-xl-6">
        4.254 Other 2: Standard Inclusions<br />
        <input [(ngModel)]="this.plan.standardContentOther2Inclusions" (ngModelChange)="validateTab4()" class="form-control">
        <p class="blockLevelHelp">eg. Fetch TC Mini, Fetch TV Mobi App</p>
        <p *ngIf="!this.plan.standardContentOther2Inclusions" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row" *ngIf="this.plan.standardContentOther2Indicator==true">
      <div class="col-xl-6">
        4.255 Other 2: Details<br />
        <input [(ngModel)]="this.plan.standardContentOther2Details" (ngModelChange)="validateTab4()" class="form-control">
        <p class="blockLevelHelp">eg. Excludes subscription costs</p>
      </div>

    </div>
    <div class="row">
      <div class="col-xl-3">
        4.26 Other Content - 3<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="other3Included" [(ngModel)]="this.plan.standardContentOther3Indicator" (ngModelChange)="validateTab4()" [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="other3Included" [(ngModel)]="this.plan.standardContentOther3Indicator" (ngModelChange)="validateTab4()" (click)="clearOther3()" (ngModelChange)="validateTab4()" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.standardContentOther3Indicator==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-3" *ngIf="this.plan.standardContentOther3Indicator==true">
        4.261 Other 3: Data Free Streaming?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="other3Streaming" [(ngModel)]="this.plan.standardContentOther3DataFree" (ngModelChange)="validateTab4()" [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="other3Streaming" [(ngModel)]="this.plan.standardContentOther3DataFree" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.standardContentOther3DataFree==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-3" *ngIf="this.plan.standardContentOther3Indicator==true">
        4.262 Other 3: Included in Plan Fee?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="other3IncludedInFee" [(ngModel)]="this.plan.standardContentOther3IncludedInPlan" (click)="this.plan.standardContentOther3AdditionalCost=null" (ngModelChange)="validateTab4()" [value]=true> Yes</label></div>
          <div class="radio"><label><input type="radio" name="other3IncludedInFee" [(ngModel)]="this.plan.standardContentOther3IncludedInPlan" [value]=false> No</label></div>
        </fieldset>
        <p *ngIf="this.plan.standardContentOther3IncludedInPlan==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-3" *ngIf="this.plan.standardContentOther3Indicator==true && this.plan.standardContentOther3IncludedInPlan==false">
        4.263 Other 3: Additional Cost?<br />
        <input [(ngModel)]="this.plan.standardContentOther3AdditionalCost" class="form-control" placeholder="00.00" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">Extra $ per month</p>
        <p *ngIf="this.plan.standardContentOther3AdditionalCost==undefined" (ngModelChange)="validateTab4()" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
    </div>
    <div class="row" *ngIf="this.plan.standardContentOther3Indicator==true">
      <div class="col-xl-6">
        4.264 Other 3: Standard Inclusions<br />
        <input [(ngModel)]="this.plan.standardContentOther3Inclusions" (ngModelChange)="validateTab4()" class="form-control">
        <p class="blockLevelHelp">eg. Fetch TC Mini, Fetch TV Mobi App</p>
        <p *ngIf="this.plan.standardContentOther3Inclusions==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>

    </div>
    <div class="row" *ngIf="this.plan.standardContentOther3Indicator==true">
      <div class="col-xl-6">
        4.265 Other 3: Details<br />
        <input [(ngModel)]="this.plan.standardContentOther3Details" class="form-control">
        <p class="blockLevelHelp">eg. Excludes subscription costs</p>
      </div>
    </div>
  </div>
</div> <!-- End  Hide/Show Row -->
