﻿<div class="sectionHeading">Section 5: Other inclusions</div>
<div class="sectionMessage">Network trial, data share, data rollover, device trade-up, Wi-Fi (Telstra Air), other</div>
<hr />
<div class="row">
  <div class="subSectionHeading col-xl-12">5.1 Other</div>
</div>
<div class="row">
  <div class="col-xl-3">
    5.11 Other Standard Inclusions?<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="otherStandardInclusions" [(ngModel)]="this.plan.otherInclusionsIndicator" (ngModelChange)="validateTab5()" [value]=true> Yes - Standard inclusion</label></div>
      <div class="radio"><label><input type="radio" name="otherStandardInclusions" [(ngModel)]="this.plan.otherInclusionsIndicator" (ngModelChange)="validateTab5()" [value]=false> No</label></div>
    </fieldset>
    <p *ngIf="this.plan.otherInclusionsIndicator==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
  </div>
</div>
<div class="row" *ngIf="this.plan.otherInclusionsIndicator==true">
  <div class="col-xl-12">
    <div class="row">
      <div class="col-xl-3">
        5.12 Network Trial?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="networkTrialInclusions" [(ngModel)]="networkTrialInclusions" (ngModelChange)="validateTab5()" value="Yes"> Yes - Standard inclusion</label></div>
          <div class="radio"><label><input type="radio" name="networkTrialInclusions" [(ngModel)]="networkTrialInclusions" (ngModelChange)="validateTab5()"  (click)="this.plan.otherInclusionsNetworkTrial =null" value="No"> No</label></div>
        </fieldset>
        <p *ngIf="networkTrialInclusions==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="networkTrialInclusions=='Yes'">
        <p>5.121 Network Trial - Details</p>
        <input [(ngModel)]="this.plan.otherInclusionsNetworkTrial" (ngModelChange)="validateTab5()" class="form-control">
        <p class="blockLevelHelp">eg. 30 days, no cancel fee, unlimited data for first month</p>
        <p *ngIf="!this.plan.otherInclusionsNetworkTrial" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        5.13 Network Guarantee?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="networkGuarantee" [(ngModel)]="networkGuarantee" (ngModelChange)="validateTab5()" value="Yes"> Yes - Standard inclusion</label></div>
          <div class="radio"><label><input type="radio" name="networkGuarantee" [(ngModel)]="networkGuarantee" (ngModelChange)="validateTab5()"  (click)="this.plan.otherInclusionsNetworkGuarantee =null" value="No"> No</label></div>
        </fieldset>
        <p *ngIf="this.networkGuarantee==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="this.networkGuarantee=='Yes'">
        <p>5.131 Network Guarantee - Details</p>
        <input [(ngModel)]="this.plan.otherInclusionsNetworkGuarantee" (ngModelChange)="validateTab5()" class="form-control">
        <p class="blockLevelHelp">eg. 30 days, no cancel fee, unlimited data for first month</p>
        <p *ngIf="!this.plan.otherInclusionsNetworkGuarantee" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        5.14 Data Share/Gifting?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="dataShare" [(ngModel)]="dataShare" (ngModelChange)="validateTab5()"   value="Yes"> Yes - Standard inclusion</label></div>
          <div class="radio"><label><input type="radio" name="dataShare" [(ngModel)]="dataShare" (ngModelChange)="validateTab5()"  (click)="this.plan.otherInclusionsDataShare = null" value="No"> No</label></div>
        </fieldset>
        <p *ngIf="dataShare==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="dataShare=='Yes'">
        <p>5.141 Data Share/Gifting - Details</p>
        <input [(ngModel)]="this.plan.otherInclusionsDataShare" (ngModelChange)="validateTab5()" class="form-control">
        <p class="blockLevelHelp">eg. Share data with other postpaid plans on account</p>
        <p *ngIf="!this.plan.otherInclusionsDataShare" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        5.15 Data Rollover?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="dataRollover" [(ngModel)]="dataRollover" (ngModelChange)="validateTab5()"   value="Yes"> Yes - Standard inclusion</label></div>
          <div class="radio"><label><input type="radio" name="dataRollover" [(ngModel)]="dataRollover" (ngModelChange)="validateTab5()"  (click)="this.plan.otherInclusionsDataRollover = null" value="No"> No</label></div>
        </fieldset>
        <p *ngIf="dataRollover==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="dataRollover=='Yes'">
        <p>5.151 Data Rollover - Details</p>
        <input [(ngModel)]="this.plan.otherInclusionsDataRollover" (ngModelChange)="validateTab5()" class="form-control">
        <p class="blockLevelHelp">eg. Rollover data to next month, maximum 15GB</p>
        <p *ngIf="!this.plan.otherInclusionsDataRollover" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        5.16 Device Trade-Up?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="deviceTradeUp" [(ngModel)]="deviceTradeUp" (ngModelChange)="validateTab5()"  value="Yes"> Yes - Standard inclusion</label></div>
          <div class="radio"><label><input type="radio" name="deviceTradeUp" [(ngModel)]="deviceTradeUp" (ngModelChange)="validateTab5()" (click)="this.plan.otherInclusionsDeviceTradeUp = null" value="No"> No</label></div>
        </fieldset>
        <p *ngIf="deviceTradeUp==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="deviceTradeUp=='Yes'">
        <p>5.161 Device Trade-Up - Details</p>
        <input [(ngModel)]="this.plan.otherInclusionsDeviceTradeUp" (ngModelChange)="validateTab5()" class="form-control">
        <p class="blockLevelHelp">eg. Pay $149 after 1 year, get new handset when renew contract</p>
        <p *ngIf="!this.plan.otherInclusionsDeviceTradeUp" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        5.17 Wi-Fi (Telstra Air)?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="wifi" [(ngModel)]="wifi" (ngModelChange)="validateTab5()" value="Yes"> Yes - Standard inclusion</label></div>
          <div class="radio"><label><input type="radio" name="wifi" [(ngModel)]="wifi" (ngModelChange)="validateTab5()" (click)="this.plan.otherInclusionsWifi = null" value="No"> No</label></div>
        </fieldset>
        <p *ngIf="!wifi" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="wifi=='Yes'">
        <p>5.171 Wi-Fi (Telstra Air) - Details</p>
        <input [(ngModel)]="this.plan.otherInclusionsWifi" (ngModelChange)="validateTab5()" class="form-control">
        <p class="blockLevelHelp">eg. 30 days, no cancel fee; unlimited data for first month</p>
        <p *ngIf="!this.plan.otherInclusionsWifi" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        5.18 Cloud Storage?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="cloudStorage" [(ngModel)]="cloudStorage" (ngModelChange)="validateTab5()" value="Yes"> Yes - Standard inclusion</label></div>
          <div class="radio"><label><input type="radio" name="cloudStorage" [(ngModel)]="cloudStorage" (ngModelChange)="validateTab5()" (click)="this.plan.otherInclusionsCloudStorage = null" value="No"> No</label></div>
        </fieldset>
        <p *ngIf="cloudStorage==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="cloudStorage=='Yes'">
        <p>5.181 Cloud Storage - Details</p>
        <input [(ngModel)]="this.plan.otherInclusionsCloudStorage" (ngModelChange)="validateTab5()" class="form-control">
        <p class="blockLevelHelp">eg. 30 days, no cancel fee</p>
        <p *ngIf="!this.plan.otherInclusionsCloudStorage" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        5.19 Refer a Friend?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="referFriend" [(ngModel)]="referFriend" (ngModelChange)="validateTab5()" value="Yes"> Yes - Standard inclusion</label></div>
          <div class="radio"><label><input type="radio" name="referFriend" [(ngModel)]="referFriend" (ngModelChange)="validateTab5()" (click)="this.plan.referFriendDetails = null " value="No"> No</label></div>
        </fieldset>
        <p *ngIf="referFriend==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="referFriend=='Yes'">
        <p>5.191 Refer a Friend - Details</p>
        <input [(ngModel)]="this.plan.otherInclusionsReferFriend" (ngModelChange)="validateTab5()" class="form-control">
        <p class="blockLevelHelp">eg. Bonus or $ credit for referrer and referee</p>
        <p *ngIf="!this.plan.otherInclusionsReferFriend" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row" *ngIf="this.plan.segment=='Business'">
      <div class="col-xl-3">
        5.121 Business Apps?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="businessApps" [(ngModel)]="businessApps" (ngModelChange)="validateTab5()" value="Yes"> Yes - Standard inclusion</label></div>
          <div class="radio"><label><input type="radio" name="businessApps" [(ngModel)]="businessApps" (ngModelChange)="validateTab5()" (click)="this.plan.otherInclusionsBusinessApps = null" value="No"> No</label></div>
        </fieldset>
        <p *ngIf="!businessApps" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="businessApps=='Yes'">
        <p>5.1201 Business Apps- Details</p>
        <input [(ngModel)]="this.plan.otherInclusionsBusinessApps" (ngModelChange)="validateTab5()" class="form-control">
        <p class="blockLevelHelp">eg. Office 365</p>
        <p *ngIf="this.plan.standardContentOther2IncludedInPlan==undefined" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row" *ngIf="this.plan.productCategoryId==2">
      <div class="col-xl-3">
        5.121 Prepaid Autopay/Direct Debit Bonus?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="otherPrepaidAuto" [(ngModel)]="otherPrepaidAuto" (ngModelChange)="validateTab5()" value="Yes"> Yes - Standard inclusion</label></div>
          <div class="radio"><label><input type="radio" name="otherPrepaidAuto" [(ngModel)]="otherPrepaidAuto" (ngModelChange)="validateTab5()" (click)="this.plan.otherInclusionsPrepaidAutopay = null" value="No"> No</label></div>
        </fieldset>
        <p *ngIf="!otherPrepaidAuto" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-3" *ngIf="otherPrepaidAuto=='Yes'">
        <p>5.1221 Prepaid Autopay/Direct Debit Bonus - Details</p>
        <input [(ngModel)]="this.plan.otherInclusionsPrepaidAutopay" (ngModelChange)="validateTab5()" class="form-control">
        <p class="blockLevelHelp">eg. 500MB bonus data when pay with a credit card</p>
        <p *ngIf="!this.plan.otherInclusionsPrepaidAutopay" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        5.122 Other?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="otherInclusion" [(ngModel)]="otherInclusion" (ngModelChange)="validateTab5()" value="Yes"> Yes - Standard inclusion</label></div>
          <div class="radio"><label><input type="radio" name="otherInclusion" [(ngModel)]="otherInclusion" (ngModelChange)="validateTab5()" (click)="this.plan.otherInclusionsOther = null" value="No"> No</label></div>
        </fieldset>
      </div>
      <div class="col-xl-3" *ngIf="otherInclusion=='Yes'">
        <p>5.1221 Other - Details</p>
        <input [(ngModel)]="this.plan.otherInclusionsOther" (ngModelChange)="validateTab5()" class="form-control">
        <p class="blockLevelHelp">eg. 30 days, no cancel fee; unlimited data for first month</p>

      </div>
    </div>
    
  </div>
</div>

<div class="row">
  <div class="subSectionHeading col-xl-12">5.2 Any Other Comments - Standard Inclusions</div>
</div>
<div class="row">
  <div class="col-xl-12">
    <p>5.21 Standard Inclusions: Any Additional Comments/Notes</p>
    <textarea [(ngModel)]="this.plan.otherInclusionsAdditionalComments" (ngModelChange)="validateTab5()" class="form-control" (keypress)="preventEnter($event)" rows="10"></textarea>
  </div>
</div>

