﻿<div class="sectionHeading">Section 6: Promotional Offers</div>
<div class="sectionMessage">Discounted fees, data bonuses, bonus domestic voice/text, international roaming, frequent flyer and content, other offers</div>
<hr />
<div class="row">
  <div class="subSectionHeading col-xl-12">6.1 Promotional Monthly Fee</div>
</div>
<div class="row">
  <div class="subSectionSubHeading col-xl-12">6.11 Discounted Monthly Fee</div>
</div>
<div class="row">
  <div class="col-xl-3">
    6.111 Discounted Monthly Fee<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="promDiscountedMonthlyFee" [(ngModel)]="this.plan.promotionalFeeIndicator" (ngModelChange)="validateTab6()"  [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="promDiscountedMonthlyFee" [(ngModel)]="this.plan.promotionalFeeIndicator" (ngModelChange)="validateTab6()" (click)="feeDiscountClear()" [value]=false> No</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9" *ngIf="this.plan.promotionalFeeIndicator==true">
    <div class="row">
      <div class="col-xl-4">
        6.112 Promotional Discount Type<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="promDiscountedMonthlyType" [(ngModel)]="this.plan.promotionalFeeDiscountType" (ngModelChange)="validateTab6()" (click)="this.plan.promotionalFeeDiscountValue=null" value="Discount Price"> Discount Price</label></div>
          <div class="radio"><label><input type="radio" name="promDiscountedMonthlyType" [(ngModel)]="this.plan.promotionalFeeDiscountType" (ngModelChange)="validateTab6()" (click)="this.plan.promotionalFeeDiscountValue=null" value="Value"> $ Value off</label></div>
          <div class="radio"><label><input type="radio" name="promDiscountedMonthlyType" [(ngModel)]="this.plan.promotionalFeeDiscountType" (ngModelChange)="validateTab6()" (click)="this.plan.promotionalFeeDiscountValue=null" value="Percentage"> Percentage (%) off</label></div>
        </fieldset>


        <p *ngIf="!this.plan.promotionalFeeDiscountType" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4" *ngIf="this.plan.promotionalFeeDiscountType=='Discount Price'">
        6.113 Promotional Monthly Fee<br />
        <input [(ngModel)]="this.plan.promotionalFeeDiscountValue" (ngModelChange)="validateTab6()" class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">Include discount</p>
        <p *ngIf="!this.plan.promotionalFeeDiscountValue" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-4" *ngIf="this.plan.promotionalFeeDiscountType=='Value'">
        6.114 Promotional $ Discount<br />
        <input [(ngModel)]="this.plan.promotionalFeeDiscountValue" (ngModelChange)="validateTab6()" class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">e.g. For $5 off Standard fee, input $5.00</p>
        <p *ngIf="!this.plan.promotionalFeeDiscountValue" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-4" *ngIf="this.plan.promotionalFeeDiscountType=='Percentage'">
        6.115 Promotional % Discount<br />
        <input [(ngModel)]="this.plan.promotionalFeeDiscountValue" (ngModelChange)="validateTab6()" class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">Percentage</p>
        <p *ngIf="!this.plan.promotionalFeeDiscountValue" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-4">
        6.116 Promotional Fee Online?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="promotionalFeeOnline" [(ngModel)]="this.plan.promotionalFeeChannel" (ngModelChange)="validateTab6()" value="Online"> Online Only</label></div>
          <div class="radio"><label><input type="radio" name="promotionalFeeOnline" [(ngModel)]="this.plan.promotionalFeeChannel" (ngModelChange)="validateTab6()" value="All"> All Channels</label></div>
        </fieldset>
        <p *ngIf="!this.plan.promotionalFeeChannel" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="this.plan.promotionalFeeIndicator==true">
  <div class="col-xl-3">
    6.117 Promotional Fee Details<br />
    <input [(ngModel)]="this.plan.promotionalFeeDetails" class="form-control">
    <p class="blockLevelHelp">eg. new customers only</p>
  </div>
  <div class="col-xl-3">
    6.118 Promotional Monthly Fee Start:<br />
    <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.promoMonthlyFeeStartDate"
    (ngModelChange)="this.plan.promotionalFeeStartDate = formatDate($event); validateTab6()"></my-date-picker>
    <p class="blockLevelHelp">Date</p>
    <p *ngIf="!this.plan.promotionalFeeStartDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

  </div>
  <div class="col-xl-3">
  6.119 Promotional Monthly Fee End: <br />

    <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.promoMonthlyFeeEndDate" (ngModelChange)="this.plan.promotionalFeeEndDate = formatDate($event); validateTab6()"></my-date-picker>


    <p class="blockLevelHelp">D1ate</p>
    <p *ngIf="!this.plan.promotionalFeeEndDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

  </div>


  <div class="col-xl-3">
    6.120 Promotional Monthly Fee - Until Withdrawn<br />
    <input type="checkbox" [(ngModel)]="promotionalFeeUntilWithdrawn" (click)="this.promoMonthlyFeeEndDate = getHighDate(this.promotionalFeeUntilWithdrawn)" (ngModelChange)="this.plan.promoMonthlyFeeEndDate = this.promotionalFeeUntilWithdrawn ? '9999-12-31T00:00:00':null;"> Yes

  </div>


</div>

<div class="row">
  <div class="subSectionSubHeading col-xl-12">6.12 Promotional Student Discount</div>
</div>
<div class="row">
  <div class="col-xl-3">
    6.121 Promotional Student Discount <br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="studentDiscount" [(ngModel)]="this.plan.promotionalStudentDiscountIndicator" (ngModelChange)="validateTab6()" [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="studentDiscount" [(ngModel)]="this.plan.promotionalStudentDiscountIndicator" (ngModelChange)="validateTab6()" (click)="studentDiscountClear()" [value]=false> No</label></div>
    </fieldset>



  </div>
  <div class="col-xl-9" *ngIf="this.plan.promotionalStudentDiscountIndicator==true">
    <div class="row">
      <div class="col-xl-4">
        6.122 Promotional Student Discount Type<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="studentDiscountedMonthlyType" [(ngModel)]="this.plan.promotionalStudentDiscountType" (ngModelChange)="validateTab6()" value="Value"> $ Value</label></div>
          <div class="radio"><label><input type="radio" name="studentDiscountedMonthlyType" [(ngModel)]="this.plan.promotionalStudentDiscountType" (ngModelChange)="validateTab6()" value="Percentage"> Percentage (%)</label></div>
        </fieldset>
        <p *ngIf="!this.plan.promotionalStudentDiscountType" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4" *ngIf="this.plan.promotionalStudentDiscountType=='Value'">
        6.123 Promotional Student $ Discount<br />
        <input [(ngModel)]="this.plan.promotionalStudentDiscountValue" (ngModelChange)="validateTab6()" class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">Fee per month</p>
        <p *ngIf="!this.plan.promotionalStudentDiscountValue" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4" *ngIf="this.plan.promotionalStudentDiscountType=='Percentage'">
        6.124 Promotional Student % Discount<br />
        <input [(ngModel)]="this.plan.promotionalStudentDiscountValue" (ngModelChange)="validateTab6()" class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">Percentage</p>
        <p *ngIf="!this.plan.promotionalStudentDiscountValue" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="this.plan.promotionalStudentDiscountIndicator==true">
  <div class="col-xl-3">
    6.125 Promotional Student Fee Details<br />
    <input [(ngModel)]="this.plan.promotionalStudentDiscountDetails" class="form-control">
    <p class="blockLevelHelp">eg. new customers only</p>

  </div>

  <div class="col-xl-3">
    6.126 Promotional Student Discount Start<br />
    <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.studentMonthlyFeeStartDate" (ngModelChange)="this.plan.promotionalStudentDiscountStartDate = formatDate($event); validateTab6()"></my-date-picker>
    <p class="blockLevelHelp">Date</p>
    <p *ngIf="!this.plan.promotionalStudentDiscountStartDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>


  </div>
  <div class="col-xl-3">
    6.127 Promotional Student Discount End<br />
    <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.studentMonthlyFeeEndDate" (ngModelChange)="this.plan.promotionalStudentDiscountEndDate = formatDate($event); validateTab6()"></my-date-picker>
    <p class="blockLevelHelp">Date</p>
    <p *ngIf="!this.plan.promotionalStudentDiscountEndDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

  </div>
  <div class="col-xl-3">
    6.128 Promotional Student Discount - Until Withdrawn<br />
    <input type="checkbox" [(ngModel)]="studentFeeUntilWithdrawn" (click)="this.studentMonthlyFeeEndDate = getHighDate(this.studentFeeUntilWithdrawn)" (ngModelChange)="this.plan.promotionalStudentDiscountEndDate = this.studentFeeUntilWithdrawn ? '9999-12-31T00:00:00':null;"> Yes
  </div>
</div>
<div class="row">
  <div class="subSectionSubHeading col-xl-12">6.13 Fee Free Months</div>
</div>
<div class="row">
  <div class="col-xl-3">
    6.131 Fee Free Months Promotion<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="feeFreeMonths" [(ngModel)]="this.plan.promotionalFeeFreeMonthsIndicator" (ngModelChange)="validateTab6()" [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="feeFreeMonths" [(ngModel)]="this.plan.promotionalFeeFreeMonthsIndicator" (ngModelChange)="validateTab6()" (click)="feeFreeClear()" [value]=false> No</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9" *ngIf="this.plan.promotionalFeeFreeMonthsIndicator==true">
    <div class="row">
      <div class="col-xl-4">
        6.132 # Months Fee Free<br />
        <input [(ngModel)]="this.plan.promotionalFeeFreeMonthsAmount" (ngModelChange)="validateTab6()" class="form-control" type="number" (keypress)="preventKeyStrokes($event)" />
        <p class="blockLevelHelp"># months customer pays no mthly access fees</p>
        <p *ngIf="!this.plan.promotionalFeeFreeMonthsAmount" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4">
        6.133 Promotional Fee Online?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="feeFreeOnline" [(ngModel)]="this.plan.promotionalFeeFreeMonthsChannel" (ngModelChange)="validateTab6()" value="Online"> Online Only</label></div>
          <div class="radio"><label><input type="radio" name="feeFreeOnline" [(ngModel)]="this.plan.promotionalFeeFreeMonthsChannel" (ngModelChange)="validateTab6()" value="All"> All Channels</label></div>
        </fieldset>
        <p *ngIf="!this.plan.promotionalFeeFreeMonthsChannel" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4">
        6.134 # Fee Free Months Details<br />
        <input [(ngModel)]="this.plan.promotionalFeeFreeMonthsDetails"  class="form-control">
        <p class="blockLevelHelp">eg. new customers only</p>
      </div>
    </div>

    <div class="row" *ngIf="this.plan.promotionalFeeFreeMonthsIndicator==true">
      <div class="col-xl-4">
        6.135 Months Free Start<br />
        <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.feeFreeStart" (ngModelChange)="this.plan.promotionalFeeFreeMonthsStartDate = formatDate($event); validateTab6()"></my-date-picker>
        <p class="blockLevelHelp">Date</p>
        <p *ngIf="!this.plan.promotionalFeeFreeMonthsStartDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4">
        6.136 Months Free End<br />
        <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.feeFreeEnd" (ngModelChange)="this.plan.promotionalFeeFreeMonthsEndDate = formatDate($event); validateTab6()"></my-date-picker>
        <p class="blockLevelHelp">Date</p>
        <p *ngIf="!this.plan.promotionalFeeFreeMonthsEndDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4">
        6.137 Promotional Fee Free Months - Until Withdrawn<br />
        <input type="checkbox" [(ngModel)]="feeFeeUntilWithdrawn" (click)="this.feeFreeEnd = getHighDate(this.feeFeeUntilWithdrawn)" (ngModelChange)="this.plan.promotionalFeeFreeMonthsEndDate = this.feeFeeUntilWithdrawn ? '9999-12-31T00:00:00':null;"> Yes
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="this.plan.productCategoryId==2">
  <div class="subSectionSubHeading col-xl-12">6.14 Promotional Prepaid Domestic Credit</div>
</div>
<div class="row" *ngIf="this.plan.productCategoryId==2">
  <div class="col-xl-3">
    6.141 Promotional Prepaid Bonus Credit?<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="promotionalPrepaidBonusCreditIndicator" [(ngModel)]="this.plan.promotionalPrepaidBonusCreditIndicator" (ngModelChange)="validateTab6()" [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="promotionalPrepaidBonusCreditIndicator" [(ngModel)]="this.plan.promotionalPrepaidBonusCreditIndicator" (ngModelChange)="validateTab6()" (click)="prepaidBonusCreditClear()" [value]=false> No</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9" *ngIf="this.plan.promotionalPrepaidBonusCreditIndicator==true">
    <div class="row">
      <div class="col-xl-4">
        6.142 Promotional Prepaid Bonus Credit $ Value<br />
        <input [(ngModel)]="this.plan.promotionalPrepaidBonusCreditValue" class="form-control" placeholder="00.00" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">Dollar ($) value of prepaid bonus credit</p>
      </div>
      <div class="col-xl-4">
        6.143 Promotional Prepaid Bonus Credit - Details<br />
        <input [(ngModel)]="this.plan.promotionalPrepaidBonusCreditDetails" class="form-control">
        <p class="blockLevelHelp">eg. new customers only</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        6.144 Promotional Prepaid Bonus Credit Start<br />
        <my-date-picker name="promotionalPrepaidBonusCreditFrom" [options]="myDatePickerOptions" [ngModel]="this.bonusPrepaidCreditDataStart" (ngModelChange)="this.plan.promotionalPrepaidBonusCreditStart = formatDate($event)"></my-date-picker>
        <p class="blockLevelHelp">Date</p>
      </div>
      <div class="col-xl-4">
        6.145 Promotional Prepaid Bonus Credit End<br />
        <my-date-picker name="promotionalPrepaidBonusCreditTo" [options]="myDatePickerOptions" [ngModel]="this.bonusPrepaidCreditDataEnd" (ngModelChange)="this.plan.promotionalPrepaidBonusCreditEnd = formatDate($event)"></my-date-picker>
        <p class="blockLevelHelp">Date</p>
      </div>
      <div class="col-xl-4">
        6.146 Promotional Prepaid Bonus Credit - Until Withdrawn<br />
        <input type="checkbox" [(ngModel)]="promotionalPrepaidBonusCreditUntilWithdrawn" (click)="this.bonusPrepaidCreditDataEnd = getHighDate(this.promotionalPrepaidBonusCreditUntilWithdrawn)" (ngModelChange)="this.plan.promotionalPrepaidBonusCreditEnd = this.promotionalPrepaidBonusCreditUntilWithdrawn ? '9999-12-31T00:00:00':null;"> Yes
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class="subSectionHeading col-xl-12">6.2 Promotional Data Bonus</div>
</div>
<div class="row">
  <div class="col-xl-3">
    6.21 Bonus Data 1?<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="bonusData1Months" [(ngModel)]="this.plan.promotionalBonusData1Indicator" (ngModelChange)="validateTab6()" [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="bonusData1Months" [(ngModel)]="this.plan.promotionalBonusData1Indicator" (ngModelChange)="validateTab6()" (click)="bonusData1Clear()" [value]=false> No</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9" *ngIf="this.plan.promotionalBonusData1Indicator==true">
    <div class="row">
      <div class="col-xl-4">
        6.211 Bonus Data 1 (GB)<br />
        <input [(ngModel)]="this.plan.promotionalBonusData1Amount" class="form-control" type="number" (ngModelChange)="validateTab6()" (keypress)="preventKeyStrokes($event)">
        <p *ngIf="!this.plan.promotionalBonusData1Amount" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4">
        6.212 Bonus Data 1 Online?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="bonusData1Online" [(ngModel)]="this.plan.promotionalBonusData1Channel" (ngModelChange)="validateTab6()" value="Yes"> Online Only</label></div>
          <div class="radio"><label><input type="radio" name="bonusData1Online" [(ngModel)]="this.plan.promotionalBonusData1Channel" (ngModelChange)="validateTab6()" value="No"> All Channels</label></div>
          <p *ngIf="!this.plan.promotionalBonusData1Channel" class="blockLevelHelp required-field" style="color: red">* Required field</p>

        </fieldset>
      </div>
      <div class="col-xl-4">
        6.213 Bonus Data 1 Details<br />
        <input [(ngModel)]="this.plan.promotionalBonusData1Details" (ngModelChange)="validateTab6()" class="form-control">
        <p class="blockLevelHelp">eg. new customers only</p>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="this.plan.promotionalBonusData1Indicator==true">
  <div class="col-xl-3">
    6.214 Bonus Data 1 Start<br />
    <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.bonusData1Start" (ngModelChange)="this.plan.promotionalBonusData1StartDate = formatDate($event); ; validateTab6()"></my-date-picker>
    <p class="blockLevelHelp">Date</p>
    <p *ngIf="!this.plan.promotionalBonusData1StartDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

  </div>
  <div class="col-xl-3">
    6.215 Bonus Data 1 End<br />
    <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.bonusData1End" (ngModelChange)="this.plan.promotionalBonusData1EndDate = formatDate($event); validateTab6()"></my-date-picker>
    <p class="blockLevelHelp">Date</p>
    <p *ngIf="!this.plan.promotionalBonusData1EndDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>
  </div>
  <div class="col-xl-3">
    6.216 Bonus Data 1 - Until Withdrawn<br />
    <input type="checkbox" [(ngModel)]="bonusData1UntilWithdrawn" (click)="this.bonusData1End = getHighDate(this.bonusData1UntilWithdrawn)" (ngModelChange)="this.plan.promotionalBonusData1EndDate = this.bonusData1UntilWithdrawn ? '9999-12-31T00:00:00':null;"> Yes
  </div>
</div>
<div class="row">
  <div class="col-xl-3">
    6.22 Bonus Data 2?<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="bonusData2Months" [(ngModel)]="this.plan.promotionalBonusData2Indicator" (ngModelChange)="validateTab6()" [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="bonusData2Months" [(ngModel)]="this.plan.promotionalBonusData2Indicator" (ngModelChange)="validateTab6()" (click)="bonusData2Clear()" [value]=false> No</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9" *ngIf="this.plan.promotionalBonusData2Indicator==true">
    <div class="row">
      <div class="col-xl-4">
        6.221 Bonus Data 2 (GB)<br />
        <input [(ngModel)]="this.plan.promotionalBonusData2Amount" class="form-control" type="number" (ngModelChange)="validateTab6()" (keypress)="preventKeyStrokes($event)">
        <p *ngIf="!this.plan.promotionalBonusData2Amount" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4">
        6.222 Bonus Data 2 Online?<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="bonusData2Online" [(ngModel)]="this.plan.promotionalBonusData2Channel"(ngModelChange)="validateTab6()"  value="Online"> Online Only</label></div>
          <div class="radio"><label><input type="radio" name="bonusData2Online" [(ngModel)]="this.plan.promotionalBonusData2Channel" (ngModelChange)="validateTab6()" value="All"> All Channels</label></div>
        </fieldset>
        <p *ngIf="!this.plan.promotionalBonusData2Channel" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4">
        6.223 Bonus Data 2 Details<br />
        <input [(ngModel)]="this.plan.promotionalBonusData2Details" class="form-control">
        <p class="blockLevelHelp">eg. new customers only</p>

      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="this.plan.promotionalBonusData2Indicator==true">
  <div class="col-xl-3">
    6.224 Bonus Data 2 Start<br />
    <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.bonusData2Start" (ngModelChange)="this.plan.promotionalBonusData2StartDate = formatDate($event); validateTab6()"></my-date-picker>
    <p class="blockLevelHelp">Date</p>
    <p *ngIf="!this.plan.promotionalBonusData2StartDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

  </div>
  <div class="col-xl-3">
    6.225 Bonus Data 2 End<br />
    <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.bonusData2End" (ngModelChange)="this.plan.promotionalBonusData2EndDate = formatDate($event); validateTab6()"></my-date-picker>
    <p class="blockLevelHelp">Date</p>
    <p *ngIf="!this.plan.promotionalBonusData2EndDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>
  </div>
  <div class="col-xl-3">
    6.226 Bonus Data 2 - Until Withdrawn<br />
    <input type="checkbox" [(ngModel)]="bonusData2UntilWithdrawn" (click)="this.bonusData2End = getHighDate(this.bonusData2UntilWithdrawn)" (ngModelChange)="this.plan.promotionalBonusData2EndDate = this.bonusData2UntilWithdrawn ? '9999-12-31T00:00:00':null;"> Yes
  </div>
</div>
<div class="row">
  <div class="subSectionHeading col-xl-12">6.3 Promotional Domestic Voice/Text</div>
</div>
<div class="row">
  <div class="col-xl-3">
    6.31 Domestic Voice Promotion<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="domesticVoicePromotion" [(ngModel)]="this.plan.promotionalDomesticVoiceIndicator" (ngModelChange)="validateTab6()" [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="domesticVoicePromotion" [(ngModel)]="this.plan.promotionalDomesticVoiceIndicator" (ngModelChange)="validateTab6()" (click)="domesticVoiceClear()" [value]=false> No</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9" *ngIf="this.plan.promotionalDomesticVoiceIndicator==true">
    <div class="row">
      <div class="col-xl-4">
        6.311 Domestic Voice Promotion Type<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="domesticVoicePromotionType" [(ngModel)]="this.plan.promotionalDomesticVoiceType" (ngModelChange)="validateTab6()" value="Value"> $ Value</label></div>
          <div class="radio"><label><input type="radio" name="domesticVoicePromotionType" [(ngModel)]="this.plan.promotionalDomesticVoiceType" (ngModelChange)="validateTab6()" value="Minutes"> Minutes</label></div>
          <div class="radio"><label><input type="radio" name="domesticVoicePromotionType" [(ngModel)]="this.plan.promotionalDomesticVoiceType" (ngModelChange)="validateTab6()" (click)="this.plan.promotionalDomesticVoiceValue=null" value="Unlimited"> Unlimited</label></div>
        </fieldset>
        <p *ngIf="!this.plan.promotionalDomesticVoiceType" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4" *ngIf="this.plan.promotionalDomesticVoiceType=='Value'">
        6.312 Domestic Voice Promotion $ Value<br />
        <input [(ngModel)]="this.plan.promotionalDomesticVoiceValue" (ngModelChange)="validateTab6()" class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">$ Value of promotional voice offer</p>
        <p *ngIf="!this.plan.promotionalDomesticVoiceValue" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-4" *ngIf="this.plan.promotionalDomesticVoiceType=='Minutes'">
        6.313 Domestic Voice Promotion # Minutes<br />
        <input [(ngModel)]="this.plan.promotionalDomesticVoiceValue" (ngModelChange)="validateTab6()" class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp"># minutes of promotional voice offer</p>
        <p *ngIf="!this.plan.promotionalDomesticVoiceValue" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="this.plan.promotionalDomesticVoiceIndicator==true">
  <div class="col-xl-3">
    6.314 Domestic Voice Promotion Start<br />
    <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.domesticVoicePromotionStart" (ngModelChange)="this.plan.promotionalDomesticVoiceStartDate = formatDate($event); validateTab6()"></my-date-picker>
    <p class="blockLevelHelp">Date</p>
    <p *ngIf="!this.plan.promotionalDomesticVoiceStartDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

  </div>
  <div class="col-xl-3">
    6.315 Domestic Voice Promotion End<br />
    <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.domesticVoicePromotionEnd" (ngModelChange)="this.plan.promotionalDomesticVoiceEndDate = formatDate($event); validateTab6()"></my-date-picker>
    <p class="blockLevelHelp">Date</p>
    <p *ngIf="!this.plan.promotionalDomesticVoiceEndDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

  </div>
  <div class="col-xl-3">
    6.316 Domestic Voice Promotion - Until Withdrawn<br />
    <input type="checkbox" [(ngModel)]="domesticVoiceUntilWithdrawn" (click)="this.domesticVoicePromotionEnd = getHighDate(this.domesticVoiceUntilWithdrawn)" (ngModelChange)="this.plan.promotionalDomesticVoiceEndDate = this.domesticVoiceUntilWithdrawn ? '9999-12-31T00:00:00':null;"> Yes
  </div>
  <div class="col-xl-3">
    6.317 Domestic Voice Promotion Details<br />
    <input [(ngModel)]="this.plan.promotionalDomesticVoiceDetails" class="form-control">
    <p class="blockLevelHelp">eg. New customers only</p>
  </div>
</div>
<div class="row">
  <div class="col-xl-3">
    6.32 Domestic Text Promotion<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="domesticTextPromotion" [(ngModel)]="this.plan.promotionalDomesticTextIndicator" (ngModelChange)="validateTab6()" [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="domesticTextPromotion" [(ngModel)]="this.plan.promotionalDomesticTextIndicator" (ngModelChange)="validateTab6()" (click)="domesticTextClear()" [value]=false> No</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9" *ngIf="this.plan.promotionalDomesticTextIndicator==true">
    <div class="row">
      <div class="col-xl-4">
        6.321 Domestic Text Promotion Type<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="domesticTextPromotionType" [(ngModel)]="this.plan.promotionalDomesticTextType" (ngModelChange)="validateTab6()" value="Value"> $ Value</label></div>
          <div class="radio"><label><input type="radio" name="domesticTextPromotionType" [(ngModel)]="this.plan.promotionalDomesticTextType" (ngModelChange)="validateTab6()" value="Minutes"> Minutes</label></div>
          <div class="radio"><label><input type="radio" name="domesticTextPromotionType" [(ngModel)]="this.plan.promotionalDomesticTextType" (ngModelChange)="validateTab6()" (click)="this.plan.promotionalDomesticTextValue=null" value="Unlimited"> Unlimited</label></div>
        </fieldset>
        <p *ngIf="!this.plan.promotionalDomesticTextType" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
      <div class="col-xl-4" *ngIf="this.plan.promotionalDomesticTextType=='Value'">
        6.322 Domestic Text Promotion $ Value<br />
        <input [(ngModel)]="this.plan.promotionalDomesticTextValue" (ngModelChange)="validateTab6()" class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">$ Value of promotional voice offer</p>
        <p *ngIf="!this.plan.promotionalDomesticTextValue" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4" *ngIf="this.plan.promotionalDomesticTextType=='Minutes'" (ngModelChange)="validateTab6()" type="number" (keypress)="preventKeyStrokes($event)">
        6.323 Domestic Text Promotion #<br />
        <input [(ngModel)]="this.plan.promotionalDomesticTextValue" class="form-control">
        <p class="blockLevelHelp"># minutes of promotional voice offer</p>
        <p *ngIf="!this.plan.promotionalDomesticTextValue" class="blockLevelHelp required-field" style="color: red">* Required field</p>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="this.plan.promotionalDomesticTextIndicator==true">
  <div class="col-xl-3">
    6.324 Domestic Text Promotion Start<br />
    <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.domesticTextPromotionStart" (ngModelChange)="this.plan.promotionalDomesticTextStartDate = formatDate($event); validateTab6()"></my-date-picker>
    <p class="blockLevelHelp">Date</p>
    <p *ngIf="!this.plan.promotionalDomesticTextStartDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

  </div>
  <div class="col-xl-3">
    6.325 Domestic Text Promotion End<br />
    <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.domesticTextPromotionEnd" (ngModelChange)="this.plan.promotionalDomesticTextEndDate = formatDate($event); validateTab6()"></my-date-picker>
    <p class="blockLevelHelp">Date</p>
    <p *ngIf="!this.plan.promotionalDomesticTextEndDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>
  </div>
  <div class="col-xl-3">
    6.326 Domestic Text Promotion - Until Withdrawn<br />
    <input type="checkbox" [(ngModel)]="domesticTextUntilWithdrawn" (click)="this.domesticTextPromotionEnd = getHighDate(this.domesticTextUntilWithdrawn)" (ngModelChange)="this.plan.promotionalDomesticTextEndDate = this.domesticTextUntilWithdrawn ? '9999-12-31T00:00:00':null;"> Yes
  </div>
  <div class="col-xl-3">
    6.327 Domestic Text Promotion Details<br />
    <input [(ngModel)]="this.plan.promotionalDomesticTextDetails" class="form-control">
    <p class="blockLevelHelp">eg. New customers only</p>
  </div>
</div>
<div class="row">
  <div class="subSectionHeading col-xl-12">6.4 Promotional International Voice/Text</div>
</div>
<div class="row">
  <div class="col-xl-3">
    6.41 International Voice Promotion<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="internationalVoicePromotion" [(ngModel)]="this.plan.promotionalInternationalVoiceIndicator" (ngModelChange)="validateTab6()" [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="internationalVoicePromotion" [(ngModel)]="this.plan.promotionalInternationalVoiceIndicator" (ngModelChange)="validateTab6()" (click)="internationalVoiceClear()" [value]=false> No</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9" *ngIf="this.plan.promotionalInternationalVoiceIndicator==true">
    <div class="row">
      <div class="col-xl-4">
        6.411 International Voice Promotion Type<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="internationalVoicePromotionType" [(ngModel)]="this.plan.promotionalInternationalVoiceType" (ngModelChange)="validateTab6()" value="Value"> $ Value</label></div>
          <div class="radio"><label><input type="radio" name="internationalVoicePromotionType" [(ngModel)]="this.plan.promotionalInternationalVoiceType" (ngModelChange)="validateTab6()" value="Minutes"> Minutes</label></div>
          <div class="radio"><label><input type="radio" name="internationalVoicePromotionType" [(ngModel)]="this.plan.promotionalInternationalVoiceType" (ngModelChange)="validateTab6()" value="Unlimited"> Unlimited</label></div>
        </fieldset>
        <p *ngIf="!this.plan.promotionalInternationalVoiceType" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4" *ngIf="this.plan.promotionalInternationalVoiceType=='Value'">
        6.412 International Voice Promotion $ Value<br />
        <input [(ngModel)]="this.plan.promotionalInternationalVoiceValue" (ngModelChange)="validateTab6()" class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">$ Value of promotional voice offer</p>
        <p *ngIf="!this.plan.promotionalInternationalVoiceValue" (ngModelChange)="validateTab6()" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4" *ngIf="this.plan.promotionalInternationalVoiceType=='Minutes'">
        6.413 International Voice Promotion # Minutes<br />
        <input [(ngModel)]="this.plan.promotionalInternationalVoiceValue" class="form-control" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp"># minutes of promotional voice offer</p>
        <p *ngIf="!this.plan.promotionalInternationalVoiceValue" (ngModelChange)="validateTab6()" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="this.plan.promotionalInternationalVoiceIndicator==true">
  <div class="col-xl-3">
    6.414 International Voice Promotion: Included Countries<br />
    <input [(ngModel)]="this.plan.promotionalInternationalVoiceCountryAmount" (ngModelChange)="validateTab6()" class="form-control" placeholder="000" type="number" (keypress)="preventKeyStrokes($event)">
    <p class="blockLevelHelp">Number of destinations</p>
    <p *ngIf="!this.plan.promotionalInternationalVoiceCountryAmount" class="blockLevelHelp required-field" style="color: red">* Required field</p>

  </div>
  <div class="col-xl-6">
    6.415 International Voice Promotion: List of Included Countries<br />
    <input [(ngModel)]="this.plan.promotionalInternationalVoiceCountryList" (ngModelChange)="validateTab6()" class="form-control">
    <p class="blockLevelHelp">eg. UK, USA, Singapore, Hong Kong, etc. If more than 15 countries, input - Multiple countries</p>
    <p *ngIf="!this.plan.promotionalInternationalVoiceCountryList" class="blockLevelHelp required-field" style="color: red">* Required field</p>

  </div>
</div>
<div class="row" *ngIf="this.plan.promotionalInternationalVoiceIndicator==true">
  <div class="col-xl-3">
    6.416 International Voice Promotion Start<br />
    <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.internationalVoicePromotionStart" (ngModelChange)="this.plan.promotionalInternationalVoiceStartDate = formatDate($event); validateTab6()"></my-date-picker>
    <p class="blockLevelHelp">Date</p>
    <p *ngIf="!this.plan.promotionalInternationalVoiceStartDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

  </div>
  <div class="col-xl-3">
    6.417 International Voice Promotion End<br />
    <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.internationalVoicePromotionEnd" (ngModelChange)="this.plan.promotionalInternationalVoiceEndDate = formatDate($event); validateTab6()"></my-date-picker>
    <p class="blockLevelHelp">Date</p>
    <p *ngIf="!this.plan.promotionalInternationalVoiceEndDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

  </div>
  <div class="col-xl-3">
    6.418 International Voice Promotion - Until Withdrawn<br />
    <input type="checkbox" [(ngModel)]="internationalVoiceeUntilWithdrawn" (click)="this.internationalVoicePromotionEnd = getHighDate(this.internationalVoiceeUntilWithdrawn)" (ngModelChange)="this.plan.promotionalInternationalVoiceEndDate = this.internationalVoiceeUntilWithdrawn ? '9999-12-31T00:00:00':null;"> Yes
  </div>
  <div class="col-xl-3">
    6.419 International Voice Promotion Details<br />
    <input [(ngModel)]="this.plan.promotionalInternationalVoiceDetails" class="form-control">
    <p class="blockLevelHelp">eg. New customers only</p>
  </div>
</div>
<div class="row">
  <div class="col-xl-3">
    6.42 International Text Promotion<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="internationalTextPromotion" [(ngModel)]="this.plan.promotionalInternationalTextIndicator" (ngModelChange)="validateTab6()" [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="internationalTextPromotion" [(ngModel)]="this.plan.promotionalInternationalTextIndicator" (ngModelChange)="validateTab6()" (click)="internationalTextClear()" [value]=false> No</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9" *ngIf="this.plan.promotionalInternationalTextIndicator==true">
    <div class="row">
      <div class="col-xl-4">
        6.421 International Text Promotion Type<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="internationalTextPromotionType" [(ngModel)]="this.plan.promotionalInternationalTextType" (ngModelChange)="validateTab6()" value="Value"> $ Value</label></div>
          <div class="radio"><label><input type="radio" name="internationalTextPromotionType" [(ngModel)]="this.plan.promotionalInternationalTextType" (ngModelChange)="validateTab6()" value="Minutes"> Minutes</label></div>
          <div class="radio"><label><input type="radio" name="internationalTextPromotionType" [(ngModel)]="this.plan.promotionalInternationalTextType" (ngModelChange)="validateTab6()" (click)="this.plan.promotionalInternationalTextValue=null;" value="Unlimited"> Unlimited</label></div>
        </fieldset>
        <p *ngIf="!this.plan.promotionalInternationalTextType" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4" *ngIf="this.plan.promotionalInternationalTextType=='Value'">
        6.422 International Text Promotion $ Value<br />
        <input [(ngModel)]="this.plan.promotionalInternationalTextValue" class="form-control" type="number" (ngModelChange)="validateTab6()" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">$ Value of promotional voice offer</p>
        <p *ngIf="!this.plan.promotionalInternationalTextValue" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4" *ngIf="this.plan.promotionalInternationalTextType=='Minutes'">
        6.423 International Text Promotion #<br />
        <input [(ngModel)]="this.plan.promotionalInternationalTextValue" class="form-control" type="number" (ngModelChange)="validateTab6()" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp"># minutes of promotional voice offer</p>
        <p *ngIf="!this.plan.promotionalInternationalTextValue" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="this.plan.promotionalInternationalTextIndicator==true">
  <div class="col-xl-3">
    6.424 International Text Promotion Start<br />
    <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.internationalTextPromotionStart" (ngModelChange)="this.plan.promotionalInternationalTextStartDate = formatDate($event); validateTab6()"></my-date-picker>
    <p class="blockLevelHelp">Date</p>
    <p *ngIf="!this.plan.promotionalInternationalTextStartDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

  </div>
  <div class="col-xl-3">
    6.425 International Text Promotion End<br />
    <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.internationalTextPromotionEnd" (ngModelChange)="this.plan.promotionalInternationalTextEndDate = formatDate($event); validateTab6()"></my-date-picker>
    <p class="blockLevelHelp">Date</p>
    <p *ngIf="!this.plan.promotionalInternationalTextEndDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

  </div>
  <div class="col-xl-3">
    6.426 International Text Promotion - Until Withdrawn<br />
    <input type="checkbox" [(ngModel)]="internationalTexteUntilWithdrawn" (click)="this.internationalTextPromotionEnd = getHighDate(this.internationalTexteUntilWithdrawn)" (ngModelChange)="this.plan.promotionalInternationalTextEndDate = this.internationalTexteUntilWithdrawn ? '9999-12-31T00:00:00':null;"> Yes
  </div>
  <div class="col-xl-3">
    6.427 International Text Promotion Details<br />
    <input [(ngModel)]="this.plan.promotionalInternationalTextDetails" class="form-control">
    <p class="blockLevelHelp">eg. New customers only</p>
  </div>
</div>
<div class="row" *ngIf="this.plan.productCategoryId==2">
  <div class="col-xl-3">
    6.431 Promotional Prepaid International Bonus Credit?<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="promotionalPrepaidInternationalBonusCreditsIndicator" [(ngModel)]="this.plan.promotionalPrepaidInternationalBonusCreditsIndicator" [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="promotionalPrepaidInternationalBonusCreditsIndicator" [(ngModel)]="this.plan.promotionalPrepaidInternationalBonusCreditsIndicator" (click)="prepaidInternationalBonusCreditClear()" [value]=false> No</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9" *ngIf="this.plan.promotionalPrepaidInternationalBonusCreditsIndicator==true">
    <div class="row">
      <div class="col-xl-4">
        6.432 Promotional Prepaid International Bonus Credit $ Value<br />
        <input [(ngModel)]="this.plan.promotionalPrepaidInternationalBonusCreditsValue" class="form-control" placeholder="00.00" type="number" (keypress)="preventKeyStrokes($event)">
        <p class="blockLevelHelp">Dollar ($) value of prepaid bonus credit</p>
      </div>
      <div class="col-xl-4">
        6.433 Promotional Prepaid International Bonus Credit - Details<br />
        <input [(ngModel)]="this.plan.promotionalPrepaidInternationalBonusCreditsDetails" class="form-control">
        <p class="blockLevelHelp">eg. new customers only</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        6.434 Promotional Prepaid International Bonus Credit Start<br />
        <my-date-picker name="promotionalPrepaidInternationalBonusCreditFrom" [options]="myDatePickerOptions" [ngModel]="this.promotionalPrepaidInternationalBonusCreditsStart" (ngModelChange)="this.plan.promotionalPrepaidInternationalBonusCreditsStart = formatDate($event); validateTab6()"></my-date-picker>
        <p class="blockLevelHelp">Date</p>
      </div>
      <div class="col-xl-4">
        6.435 Promotional Prepaid International Bonus Credit End<br />
        <my-date-picker name="promotionalPrepaidInternationalBonusCreditTo" [options]="myDatePickerOptions" [ngModel]="this.promotionalPrepaidInternationalBonusCreditsEnd" (ngModelChange)="this.plan.promotionalPrepaidInternationalBonusCreditsEnd = formatDate($event); validateTab6()"></my-date-picker>
        <p class="blockLevelHelp">Date</p>
      </div>
      <div class="col-xl-4">
        6.436 Promotional Prepaid International Bonus Credit - Until Withdrawn<br />
        <input type="checkbox" [(ngModel)]="promotionalPrepaidInternationalBonusCreditUntilWithdrawn" (click)="this.bonusData1End = getHighDate(this.promotionalPrepaidInternationalBonusCreditUntilWithdrawn)"> Yes
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="subSectionHeading col-xl-12">6.5 Promotional International Roaming</div>
</div>
<div class="row">
  <div class="col-xl-3">
    6.51 Promotional International Roaming<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="internationalRoamingPromotion" [(ngModel)]="this.plan.promotionalInternationalRoamIndicator" (ngModelChange)="validateTab6()" [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="internationalRoamingPromotion" [(ngModel)]="this.plan.promotionalInternationalRoamIndicator" (ngModelChange)="validateTab6()" (click)="internationalRoamingClear()" [value]=false> No</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9" *ngIf="this.plan.promotionalInternationalRoamIndicator==true">
    <div class="row">
      <div class="col-xl-4">
        6.52 Promotional International Roaming Details<br />
        <input [(ngModel)]="this.plan.promotionalInternationalRoamDetails" (ngModelChange)="validateTab6()" class="form-control">
        <p class="blockLevelHelp">For example, new customers only</p>
        <p *ngIf="!this.plan.promotionalInternationalRoamDetails" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4">
        6.53 Promotional International Roaming Start<br />
        <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.internationalRoamingPromotionStart" (ngModelChange)="this.plan.promotionalInternationalRoamStartDate = formatDate($event); validateTab6()"></my-date-picker>
        <p class="blockLevelHelp">Date</p>
        <p *ngIf="!this.plan.promotionalInternationalRoamStartDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4">
        6.54 Promotional International Roaming End<br />
        <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.internationalRoamingPromotionEnd" (ngModelChange)="this.plan.promotionalInternationalRoamEndDate = formatDate($event); validateTab6()"></my-date-picker>
        <p class="blockLevelHelp">Date</p>
        <p *ngIf="!this.plan.promotionalInternationalRoamEndDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        6.55 Promotional International Roaming - Until Withdrawn<br />
        <input type="checkbox" [(ngModel)]="promotionalInternationalRoamingUntilWithdrawn" (click)="this.internationalRoamingPromotionEnd = getHighDate(this.promotionalInternationalRoamingUntilWithdrawn)" (ngModelChange)="this.plan.promotionalInternationalRoamEndDate = this.promotionalInternationalRoamingUntilWithdrawn ? '9999-12-31T00:00:00':null;"> Yes
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="subSectionHeading col-xl-12">6.6 Promotional Frequent Flyer</div>
</div>
<div class="row">
  <div class="col-xl-3">
    6.61 Promotional Frequent Flyer<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="frequentFlyerPromotion" [(ngModel)]="this.plan.promotionalFrequentFlyerIndicator" (ngModelChange)="validateTab6()" [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="frequentFlyerPromotion" [(ngModel)]="this.plan.promotionalFrequentFlyerIndicator" (ngModelChange)="validateTab6()" (click)="frequentFlyerClear()" [value]=false> No</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9" *ngIf="this.plan.promotionalFrequentFlyerIndicator==true">
    <div class="row">
      <div class="col-xl-4">
        6.62 Promotional Frequent Flyer Details<br />
        <input [(ngModel)]="this.plan.promotionalFrequentFlyerDetails" (ngModelChange)="validateTab6()" class="form-control">
        <p class="blockLevelHelp">For example, new customers only</p>
        <p *ngIf="!this.plan.promotionalFrequentFlyerDetails" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4">
        6.63 Promotional Frequent Flyer Start<br />
        <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.frequentFlyerPromotionStart" (ngModelChange)="this.plan.promotionalFrequentFlyerStartDate = formatDate($event); validateTab6()" ></my-date-picker>
        <p class="blockLevelHelp">Date</p>
        <p *ngIf="!this.plan.promotionalFrequentFlyerStartDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4">
        6.64 Promotional Frequent Flyer End<br />
        <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.frequentFlyerPromotionEnd" (ngModelChange)="this.plan.promotionalFrequentFlyerEndDate = formatDate($event); validateTab6()"></my-date-picker>
        <p class="blockLevelHelp">Date</p>
        <p *ngIf="!this.plan.promotionalFrequentFlyerEndDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        6.65 Promotional Frequent Flyer - Until Withdrawn<br />
        <input type="checkbox" [(ngModel)]="promotionalFrequentFlyerUntilWithdrawn" (click)="this.frequentFlyerPromotionEnd = getHighDate(this.promotionalFrequentFlyerUntilWithdrawn)"  (ngModelChange)="this.plan.promotionalFrequentFlyerEndDate = this.promotionalFrequentFlyerUntilWithdrawn ? '9999-12-31T00:00:00':null;"> Yes
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="subSectionHeading col-xl-12">6.7 Promotional Content</div>
</div>
<div class="row">
  <div class="col-xl-3">
    6.71 Promotional Content?<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="promotionalContent" [(ngModel)]="this.plan.promotionalContentIndicator" (ngModelChange)="validateTab6()" [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="promotionalContent" [(ngModel)]="this.plan.promotionalContentIndicator" (ngModelChange)="validateTab6()" (click)="clearPromotionalContent()" [value]=false> No</label></div>
    </fieldset>
  </div>
</div>
<div class="row" *ngIf="this.plan.promotionalContentIndicator==true">
  <!-- Promotional Content Start-->
  <div class="col-xl-12">
    <div class="row">
      <div class="col-xl-3">
        6.721 Promotional Sports<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="sportsPromotion" [(ngModel)]="sportsPromotion" (ngModelChange)="validateTab6()" value="Yes"> Yes</label></div>
          <div class="radio"><label><input type="radio" name="sportsPromotion" [(ngModel)]="sportsPromotion" (ngModelChange)="validateTab6()" (click)="contentSportClear()" value="No"> No</label></div>
        </fieldset>
      </div>
      <div class="col-xl-9" *ngIf="sportsPromotion=='Yes'">
        <div class="row">
          <div class="col-xl-4">
            6.722 Promotional Sports Details<br />
            <input [(ngModel)]="this.plan.promotionalContentSport" class="form-control">
            <p class="blockLevelHelp">For example, new customers only</p>
            <p *ngIf="!this.plan.promotionalContentSport" class="blockLevelHelp required-field" style="color: red">* Required field</p>

          </div>
          <div class="col-xl-4">
            6.723 Promotional Sports Start<br />
            <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.sportsPromotionStart" (ngModelChange)="this.plan.promotionalContentSportStartDate = formatDate($event); validateTab6()"></my-date-picker>
            <p class="blockLevelHelp">Date</p>
            <p *ngIf="!this.plan.promotionalContentSportStartDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

          </div>
          <div class="col-xl-4">
            6.724 Promotional Sports End<br />
            <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.sportsPromotionEnd" (ngModelChange)="this.plan.promotionalContentSportEndDate = formatDate($event); validateTab6()"></my-date-picker>
            <p class="blockLevelHelp">Date</p>
            <p *ngIf="!this.plan.promotionalContentSportEndDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

          </div>
        </div>
        <div class="row">
          <div class="col-xl-6">
            6.725 Promotional Sports - Until Withdrawn<br />
            <input type="checkbox" [(ngModel)]="promotionalSportsUntilWithdrawn" (click)="this.sportsPromotionEnd = getHighDate(this.promotionalSportsUntilWithdrawn)" (ngModelChange)="this.plan.promotionalContentSportEndDate = this.promotionalSportsUntilWithdrawn ? '9999-12-31T00:00:00':null;"> Yes
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        6.731 Promotional Music<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="musicPromotion" [(ngModel)]="musicPromotion" (ngModelChange)="validateTab6()" value="Yes"> Yes</label></div>
          <div class="radio"><label><input type="radio" name="musicPromotion" [(ngModel)]="musicPromotion" (ngModelChange)="validateTab6()" (click)="contentMusicClear()" value="No"> No</label></div>
        </fieldset>
      </div>
      <div class="col-xl-9" *ngIf="musicPromotion=='Yes'">
        <div class="row">
          <div class="col-xl-4">
            6.732 Promotional Music Details<br />
            <input [(ngModel)]="this.plan.promotionalContentMusic" class="form-control">
            <p class="blockLevelHelp">For example, new customers only</p>
            <p *ngIf="!this.plan.promotionalContentMusic" class="blockLevelHelp required-field" style="color: red">* Required field</p>

          </div>
          <div class="col-xl-4">
            6.733 Promotional Music Start<br />
            <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.musicPromotionStart" (ngModelChange)="this.plan.promotionalContentMusicStartDate = formatDate($event); validateTab6()"></my-date-picker>
            <p class="blockLevelHelp">Date</p>
            <p *ngIf="!this.plan.promotionalContentMusicStartDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

          </div>
          <div class="col-xl-4">
            6.734 Promotional Music End<br />
            <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.musicPromotionEnd" (ngModelChange)="this.plan.promotionalContentMusicEndDate = formatDate($event); validateTab6()"></my-date-picker>
            <p class="blockLevelHelp">Date</p>
            <p *ngIf="!this.plan.promotionalContentMusicEndDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

          </div>
        </div>
        <div class="row">
          <div class="col-xl-6">
            6.735 Promotional Music - Until Withdrawn<br />
            <input type="checkbox" [(ngModel)]="promotionalMusicUntilWithdrawn" (click)="this.musicPromotionEnd = getHighDate(this.promotionalMusicUntilWithdrawn)" (ngModelChange)="this.plan.promotionalContentMusicEndDate = this.promotionalMusicUntilWithdrawn ? '9999-12-31T00:00:00':null;"> Yes
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        6.741 Promotional SVOD/TV<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="svodtvPromotion" [(ngModel)]="svodtvPromotion" value="Yes"> Yes</label></div>
          <div class="radio"><label><input type="radio" name="svodtvPromotion" [(ngModel)]="svodtvPromotion" (click)="contentSVODClear()" value="No"> No</label></div>
        </fieldset>
      </div>
      <div class="col-xl-9" *ngIf="svodtvPromotion=='Yes'">
        <div class="row">
          <div class="col-xl-4">
            6.742 Promotional SVOD/TV Details<br />
            <input [(ngModel)]="this.plan.promotionalContentSvod" (ngModelChange)="validateTab6()" class="form-control">
            <p class="blockLevelHelp">For example, new customers only</p>
            <p *ngIf="!this.plan.promotionalContentSvod" class="blockLevelHelp required-field" style="color: red">* Required field</p>

          </div>
          <div class="col-xl-4">
            6.743 Promotional SVOD/TV Start<br />
            <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.svodtvPromotionStart" (ngModelChange)="this.plan.promotionalContentSvodStartDate = formatDate($event); validateTab6()"></my-date-picker>
            <p class="blockLevelHelp">Date</p>
            <p *ngIf="!this.plan.promotionalContentSvodStartDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

          </div>
          <div class="col-xl-4">
            6.744 Promotional SVOD/TV End<br />
            <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.svodtvPromotionEnd" (ngModelChange)="this.plan.promotionalContentSvodEndDate = formatDate($event); validateTab6()"></my-date-picker>
            <p class="blockLevelHelp">Date</p>
            <p *ngIf="!this.plan.promotionalContentSvodEndDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

          </div>
        </div>
        <div class="row">
          <div class="col-xl-6">
            6.745 Promotional SVOD/TV - Until Withdrawn<br />
            <input type="checkbox" [(ngModel)]="promotionalSVODTVUntilWithdrawn" (click)="this.svodtvPromotionEnd = getHighDate(this.promotionalSVODTVUntilWithdrawn)" (ngModelChange)="this.plan.promotionalContentSvodEndDate = this.promotionalSVODTVUntilWithdrawn ? '9999-12-31T00:00:00':null;"> Yes
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        6.751 Promotional Other Content<br />
        <fieldset class="form-group">
          <div class="radio"><label><input type="radio" name="otherContentPromotion" [(ngModel)]="otherContentPromotion" (ngModelChange)="validateTab6()" value="Yes"> Yes</label></div>
          <div class="radio"><label><input type="radio" name="otherContentPromotion" [(ngModel)]="otherContentPromotion" (ngModelChange)="validateTab6()" (click)="contentOtherClear()" value="No"> No</label></div>
        </fieldset>
      </div>
      <div class="col-xl-9" *ngIf="otherContentPromotion=='Yes'">
        <div class="row">
          <div class="col-xl-4">
            6.752 Promotional Other Content Details<br />
            <input [(ngModel)]="this.plan.promotionalContentOtherDetails" class="form-control">
            <p class="blockLevelHelp">For example, new customers only</p>
            <p *ngIf="!this.plan.promotionalContentOtherDetails" class="blockLevelHelp required-field" style="color: red">* Required field</p>

          </div>
          <div class="col-xl-4">
            6.753 Promotional Other Content Start<br />
            <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.otherContentPromotionStart" (ngModelChange)="this.plan.promotionalContentOtherStartDate = formatDate($event); validateTab6()"></my-date-picker>
            <p class="blockLevelHelp">Date</p>
            <p *ngIf="!this.plan.promotionalContentOtherStartDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

          </div>
          <div class="col-xl-4">
            6.754 Promotional Other Content End<br />
            <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.otherContentPromotionEnd" (ngModelChange)="this.plan.promotionalContentOtherEndDate = formatDate($event); validateTab6()"></my-date-picker>
            <p class="blockLevelHelp">Date</p>
            <p *ngIf="!this.plan.promotionalContentOtherEndDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

          </div>
        </div>
        <div class="row">
          <div class="col-xl-6">
            6.755 Promotional Other Content - Until Withdrawn<br />
            <input type="checkbox" [(ngModel)]="promotionalOtherContentUntilWithdrawn" (ngModelChange)="validateTab6()" (click)="this.otherContentPromotionEnd = getHighDate(this.promotionalOtherContentUntilWithdrawn)" (ngModelChange)="this.plan.promotionalContentOtherEndDate = this.promotionalOtherContentUntilWithdrawn ? '9999-12-31T00:00:00':null;"> Yes
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- Promotional Content End-->
<div class="row">
  <div class="subSectionHeading col-xl-12">6.8 Promotional Other</div>
</div>
<div class="row">
  <div class="col-xl-3">
    6.81 Promotional Other<br />
    <fieldset class="form-group">
      <div class="radio"><label><input type="radio" name="otherPromotion" [(ngModel)]="this.plan.promotionalOtherIndicator" (ngModelChange)="validateTab6()" [value]=true> Yes</label></div>
      <div class="radio"><label><input type="radio" name="otherPromotion" [(ngModel)]="this.plan.promotionalOtherIndicator" (ngModelChange)="validateTab6()" (click)="otherClear()" [value]=false> No</label></div>
    </fieldset>
  </div>
  <div class="col-xl-9" *ngIf="this.plan.promotionalOtherIndicator==true">
    <div class="row">
      <div class="col-xl-4">
        6.82 Promotional Other Description<br />
        <input [(ngModel)]="this.plan.promotionalOtherDescription" (ngModelChange)="validateTab6()" class="form-control">
        <p *ngIf="!this.plan.promotionalOtherDescription" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4">
        6.83 Promotional Other Details<br />
        <input [(ngModel)]="this.plan.promotionalOtherDetails" (ngModelChange)="validateTab6()" class="form-control">
        <p class="blockLevelHelp">For example, new customers only</p>
        <p *ngIf="!this.plan.promotionalOtherDetails" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        6.84 Promotional Other Start<br />
        <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.otherPromotionStart" (ngModelChange)="this.plan.promotionalOtherStartDate = formatDate($event); validateTab6()"></my-date-picker>
        <p class="blockLevelHelp">Date</p>
        <p *ngIf="!this.plan.promotionalOtherStartDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4">
        6.85 Promotional Other End<br />
        <my-date-picker name="extractFromDate" [options]="myDatePickerOptions" [ngModel]="this.otherPromotionEnd" (ngModelChange)="this.plan.promotionalOtherEndDate = formatDate($event); validateTab6()"></my-date-picker>
        <p class="blockLevelHelp">Date</p>
        <p *ngIf="!this.plan.promotionalOtherEndDate" class="blockLevelHelp required-field" style="color: red">* Required field</p>

      </div>
      <div class="col-xl-4">
        6.86 Promotional Other - Until Withdrawn<br />
        <input type="checkbox" [(ngModel)]="otherPromotionUntilWithdrawn" (click)="this.otherPromotionEnd = getHighDate(this.otherPromotionUntilWithdrawn)" (ngModelChange)="this.plan.promotionalOtherEndDate = this.otherPromotionUntilWithdrawn ? '9999-12-31T00:00:00':null;"> Yes
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="subSectionHeading col-xl-12">6.9 Any Other Comments - Promotional Inclusions</div>
</div>
<div class="row">
  <div class="col-xl-12">
    6.91 Promotional Inclusions - Any Additional Comments/Notes<br />
    <textarea [(ngModel)]="this.plan.promotionalInclusionsAdditonalComments" (keypress)="preventEnter($event)" class="form-control" rows="10"></textarea>
  </div>
</div>
