﻿<div class="row">
  <div class="col-xl-12">
    <h2 class="text-muted">Data Maintenance</h2>
    <hr />
    <h3>Expiry</h3>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <div class="card-block table-responsive">
      <p><button type="button" class="btn btn-sm btn-success" (click)="openAdd(addTerm)">Add New</button></p>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Expiry</th>
            <th>Term</th>
            <th>Product Category</th>
            <th>Active</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of terms">
            <td>{{obj.termValue}}</td>
            <td>{{obj.unit}}</td>
            <td>{{obj.productCategory}}</td>
            <td>{{obj.recordStatus}}</td>
            <td><button type="button" class="btn btn-sm btn-info" (click)="openEdit(addTerm, obj.termId)">edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #addTerm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{modalMode}} Term</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table>
      <tr>
        <td>Term:</td>
        <td><input [(ngModel)]="term.termValue" id="name" class="form-control" required></td>
      </tr>
      <tr>
        <td>Unit:</td>
        <td>
          <select [(ngModel)]="term.unit" class="form-control">
            <option value="Day" selected>Day</option>
            <option value="Month">Month</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Product Category:</td>
        <td>
          <select [(ngModel)]="term.productCategoryId" class="form-control">
            <option value="1">Postpaid</option>
            <option value="2">Prepaid</option>
          </select>
        </td>
      </tr>
      <tr *ngIf="modalMode == 'Edit'">
        <td>Active:</td>
        <td><input [(ngModel)]="term.recordStatus" type="checkbox" /></td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button *ngIf="modalMode == 'Add'" type="button" class="btn btn-secondary" (click)="saveAdd()">Add</button>
    <button *ngIf="modalMode == 'Edit'" type="button" class="btn btn-secondary" (click)="saveEdit()">Save</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>