﻿<div class="row">
  <div class="col-xl-12">
    <h2 class="text-muted">Plan Search</h2>
    <hr />
    <p>Select Search Criteria</p>
  </div>
</div>
<div class="row">
  <div class="col-xl-1">Product Category</div>
  <div class="col-xl-2">
    <select [(ngModel)]="selectedProductCategoryId" class="form-control">
      <option value="0" selected>All</option>
      <option value="1">Postpaid</option>
      <option value="2">Prepaid</option>
    </select>
  </div>
  <div class="col-xl-1">Segment</div>
  <div class="col-xl-2">
    <select [(ngModel)]="selectedSegment" class="form-control">
      <option value="All" selected>All</option>
      <option value="Consumer" selected>Consumer</option>
      <option value="Business">Business</option>
    </select>
  </div>
  <div class="col-xl-1">Brand</div>
  <div class="col-xl-2">
    <select [(ngModel)]="selectedBrand" class="form-control">
      <option value="0">All</option>
      <option *ngFor="let b of brands | matchesProductCategoryId: this.selectedProductCategoryId | uniqueList: 'brandName'" [value]="b.brandId">{{b.brandName}}</option>
    </select>
  </div>
  <div class="col-xl-1">Product Type</div>
  <div class="col-xl-2">
    <select [(ngModel)]="selectedProductType" class="form-control">
      <option value="0" selected>All</option>
      <optgroup label="Phone">
        <option *ngFor="let pt of productTypes | matchesProductTypeCategoryId : '1' | matchesProductCategoryId: this.selectedProductCategoryId | uniqueList: 'productTypeName'" [value]="pt.productTypeId">{{pt.productTypeName}}</option>
      </optgroup>
      <optgroup label="MBB">
        <option *ngFor="let pt of productTypes | matchesProductTypeCategoryId : '2' | matchesProductCategoryId: this.selectedProductCategoryId | uniqueList: 'productTypeName'" [value]="pt.productTypeId">{{pt.productTypeName}}</option>
      </optgroup>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-xl-1">Term</div>
  <div class="col-xl-2">
    <select [(ngModel)]="selectedUnit" class="form-control">
      <option value="All" selected>All</option>
      <option value="Day" selected>Day</option>
      <option value="Month">Month</option>
    </select>
  </div>
  <div class="col-xl-1">Expiry</div>
  <div class="col-xl-2">
    <select [(ngModel)]="selectedTerm" class="form-control">
      <option value="0" selected>All</option>
      <option *ngFor="let t of terms | matchesUnit: this.selectedUnit | matchesProductCategoryId: this.selectedProductCategoryId" [value]="t.termId">{{t.termValue}} - {{t.unit}}</option>
    </select>
  </div>
  <div class="col-xl-1">Standard Fee</div>
  <div class="col-xl-2">
    <select [(ngModel)]="selectedFee" class="form-control">
      <option value="0-9999" selected>All</option>
      <option value="0-9.99">$0.00-$9.99</option>
      <option value="10-19.99">$10.00-$19.99</option>
      <option value="20-29.99">$20.00-$29.99</option>
      <option value="30-39.99">$30.00-$39.99</option>
      <option value="40-49.99">$40.00-$49.99</option>
      <option value="50-69.99">$50.00-$69.99</option>
      <option value="70-99.99">$70.00-$99.99</option>
      <option value="100-9999">$100.00+</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-xl-2">
    <p>
      <button (click)="searchClick()" type="button" class="btn btn-default" [disabled]="!isFormValid"> Search </button>
    </p>
  </div>
</div>

<div class="row" *ngIf="searchResults">
  <h2 class="text-muted">Search Results</h2>
  <hr />
  <div class="col-xl-12">
    <div class="card-block table-responsive">
      <table class="table table-sm">
        <thead>
          <tr>
                      <th>Brand</th>

            <th>Product Name</th>
            <th>Product Cateogry</th>
            <th>Segment</th>
            <th>Product Type</th>
            <th>Expiry</th>
            <th>Standard Fee</th>
            <th>Plan Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of searchResults ">
            <td>{{obj.brand}}</td>
            
            <td>
              <a [routerLink]="['/plan/'+ obj.id + '/' + obj.productCategoryId]" [routerLinkActive]="['router-link-active']">{{obj.productName}}</a>
            </td>
            <td>{{obj.productCategory}}</td>
            <td>{{obj.segment}}</td>
            <td>{{obj.productType}}</td>
            <td>{{obj.term}}</td>
            <td>{{obj.standardFee}}</td>
            <td>{{obj.planType}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>