﻿<h2 class="text-muted">CI Tool Home</h2>
<hr />
<div class="row">
  <div class="col-lg-12">
    <div class="card card-default">
      <div class="card-header">
        <i class="fa fa-clock-o fa-fw"></i> Daily Updates
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-lg-12">
    <div class="card card-default">
      <div class="card-header">
        <i class="fa fa-clock-o fa-fw"></i> Reporting Extracts
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-lg-12">
    <div class="card card-default">
      <div class="card-header">
        <i class="fa fa-clock-o fa-fw"></i> Reference File Updates
      </div>
    </div>
  </div>
</div>
