﻿<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <ul class="list-group">
<!--     <a [routerLink]="['/home']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-file-o"></i>&nbsp;{{ 'home' | translate }}
    </a>
 -->    <a [routerLink]="['/search']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-file-o"></i>&nbsp;{{ 'plan search' | translate }}
    </a>
    <a [routerLink]="['/plan']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-file-o"></i>&nbsp;{{ 'new plan' | translate }}
    </a>
    <a [routerLink]="['/reporting']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-file-o"></i>&nbsp;{{ 'reporting' | translate }}
    </a>
    <!--<a [routerLink]="['/maintain']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-file-o"></i>&nbsp;{{ 'maintenance' | translate }}
    </a>-->
    <div class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('pages')">
        <span><i class="fa fa-plus"></i>&nbsp;{{ 'maintenance' | translate }}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a [routerLink]="['/maintain/product-name']" [routerLinkActive]="['router-link-active']" class="list-group-item"><span>{{ 'product name' | translate }}</span></a>
          </li>
          <li>
            <a [routerLink]="['//maintain/product-type']" [routerLinkActive]="['router-link-active']" class="list-group-item"><span>{{ 'product type' | translate }}</span></a>
          </li>
          <li>
            <a [routerLink]="['/maintain/term']" [routerLinkActive]="['router-link-active']" class="list-group-item"><span>{{ 'Expiry' | translate }}</span></a>
          </li>
          <li>
            <a [routerLink]="['/reporting/updates']" [routerLinkActive]="['router-link-active']" class="list-group-item"><span>{{ 'Data Maintenance' | translate }}</span></a>
          </li>

        </ul>
      </li>
    </div>
    <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-file-o"></i>&nbsp;{{ 'how to guide' | translate }}
    </a>
  </ul>
</nav>
